[2017-03-29 15:41] jasoncavaliere opened #11 "Resolve VCS info through command parameters?"
Hi Hi!

Not sure if we're a unique case or not, but here's where we stand:  we have a multi step build process where we run a full analysis separate from the unit test suite.  This is the point where the codecov upload needs to happen, but we're not connected to Git at this point, it's all from packaged nuget files.

I have the following PS command in my psake scripts:

[code]

In teamcity we get

[2017-03-29 16:07] larzw commented on #11
Hi @jasoncavaliere

Thanks for the feedback! I'm in early development and never got a chance to test on TeamCity. Is it correctly detecting TeamCity? The output in the console should say something like "TeamCity CI detected."? Or, does it default to git and say "No CI provider detected, using Git."?

FYI for teamCity: [see](https://github.com/codecov/support/wiki/TeamCity)

Even if it does correct

[2017-03-29 20:57] jasoncavaliere commented on #11
@larzw Thanks for the quick ping back!

looks like the environment variables set as parameters didn't work for us ( didn't know that was a requirement at all).  I'm going to look and see if it's possible to run a full build on that step as an interim, it might make everyone's life easier.

I'd hoped we'd be able to pass every parameter necessary and you could pick up what you needed from github, b

[2017-03-29 22:47] larzw commented on #11
@jasoncavaliere,

I've got a package in the works for Chocolatey. I like the idea of using github's api to bypass situations where git is not installed. Let see if @stevepeak has any suggestions as I don't think any of the other global uploaders do that, but it does not mean this one could not. FYI I'm working on a standalone .NET core version of this (It will support win7 x64 and above). I should

[2017-03-30 10:57] jasoncavaliere commented on #11
@larzw  Nice!  I've got the repo watched and I'll check in from time to time to see what's brewing.

[2017-03-30 13:37] stevepeak commented on #11
We do have a technique to gather the file list when `git` is missing. See [here](https://github.com/codecov/codecov-bash/blob/a7792cd49f92cd359d789cc0aa576d1e562bac49/codecov#L1055-L1089).

See [here](https://github.com/codecov/codecov-bash/blob/a7792cd49f92cd359d789cc0aa576d1e562bac49/codecov#L447-L472)

We do support this in most of the uploaders. Following this layout:

[code]

@larzw we standa

[2017-03-30 14:24] larzw commented on #11
Thanks @stevepeak and @jasoncavaliere!

@jasoncavaliere what version of powershell were you using on the build server?

[2017-04-11 03:38] larzw commented on #11
Hi @jasoncavaliere,

Just wanted to give you an FYI. This issue should be resolved.

- The package is on chocolatey: [see](https://chocolatey.org/packages/codecov)
- The uploader has been tested on TeamCity. I added some setup instructions [Here](https://github.com/codecov/codecov-exe#teamcity). Note that, alternatively, you can pass in the VCS parameters via the command line.
- I tested the uploa

[2017-04-11 11:35] jasoncavaliere commented on #11
@larzw awesome!  thank you, I'll give it a whirl when I'm in the office!  And yes that's out use case !

[2017-04-13 22:11] jasoncavaliere commented on #11
@larzw looks good!

We have another issue, something's up with your chocolatey setup, it's trying to reinstall every time when we check from our psake scripts.  Going to create a new card for it in a few, once I can write it up.

Keep fighting the good fight!

[2017-04-13 22:15] larzw commented on #11
@jasoncavaliere,

Glad this issue is fixed. This is my first time putting a choco package together so a new ticket explaining the issue would be appreciated.

Thanks!

[2017-04-13 22:15] #11 closed, assigned to nobody

[2017-06-03 16:51] AdmiringWorm opened #17 "Program returns error code 1 when -required argument is used and no failure occurred"
When calling codecov-exe and the `-required` argument have been used, the program returns an error code of 1 even if the upload actually succeeded.

This looks like it occurs because of the following line in the `Run.cs` file:
https://github.com/codecov/codecov-exe/blob/31f9a9bcc81367a0be19a13f05c7ce401b15b367/Source/Codecov/Program/Run.cs#L20

I'm willing to open a PR if interested

/cc @stevepea

[2017-06-03 16:57] larzw commented on #17
@AdmiringWorm,
Thanks for reporting this! A pr is very welcome.

[2017-06-03 17:00] AdmiringWorm commented on #17
I'll open a PR shortly, it's just a 1 line change though if I'm correct in my assumption.

[2017-06-03 17:04] larzw commented on #17
Great..I'll push out a new version to nuget when your done and I'm back to my computer.

[2017-06-03 17:05] AdmiringWorm commented on #17
@larzw just opened the PR (will automatically close this one on merge).

BTW, I may have some suggestions sometime in the future for improvements on the chocolatey package.

[2017-06-03 17:09] #17 closed, assigned to nobody

[2017-06-03 17:11] larzw commented on #17
Just merged...I would love feedback on my chocolatey package! This is my first choco package I've created.

[2017-06-03 17:11] AdmiringWorm commented on #17
@larzw mind letting me know when it's available on nuget?
Just waiting on it before I can finalize the PR to Cake.Recipe.

[2017-06-03 17:13] larzw commented on #17
Yup! I'll ping you in gitter when it's ready..maybe in an hour or so..

[2017-06-03 17:14] AdmiringWorm commented on #17
@larzw just had a quick look at the chocolatey nuspec and powershell files, and the first things that popped out was that the software should be embedded (in this case, the powershell could be removed, but a VERIFICATION.txt and LICENSE.txt file would need to be added, the former because the mods and users need a way to verify it comes from an official distribution point).
Another point is that it

[2017-06-19 14:38] larzw opened #19 "Clean up Chocolatey package code"

[2017-07-29 14:44] KentonPickard opened #20 "Error when uploading report"
Am trying to get this setup...

I was able to generate the coverage report xml file but I'm running into issues trying to upload it with codecov.exe.

I got different errors, and I am just seeing blank coverage data when I log into codedov.io.  It is a large project and the xml file is 137,000KB.  Any ideas?  Better error messages would also be appreciated.

Here's what I tried and the results I g

[2017-07-29 15:15] larzw commented on #20
Hi!

The query looks right. On the second attempt that looks like codecov's servers actually failed. What version of windows are you using (windows 10, windows 7,...)? Are you on a 32 bit or 64 bit machine? Can you post the coverage xml (or email it to me). I'll see if I can get it to upload.
Thanks!

[2017-07-29 15:20] larzw commented on #20
Also, I noticed you issued the command
`c:\Code\codecov-test>packages\Codecov.1.0.1\tools\codecov.exe -f ".\api_unit_tests.xml" -t`
Did you include the value for your token? It will look something like...

`c:\Code\codecov-test>packages\Codecov.1.0.1\tools\codecov.exe -f ".\api_unit_tests.xml" -t 00000000-0000-0000-0000-000000000000.`

you get the token from codecov's website.

Thanks!

[2017-07-30 01:13] larzw commented on #20
@KentonPickard,

Thanks again for reporting this. I agreed the error reporting is not the best. I believe the issue is with the token. I don't see a token in the query string (from your above output). For example, you should see something like...

[code]
Where I added `token=` to the query string. For security, the value of the token is removed from the logging. But if you run in verbose mode `-v`

[2017-07-30 01:27] KentonPickard commented on #20
Hey @larzw.  Thanks for looking into this so quickly!  I have sent you a message to your gmail account with more details including the xml coverage report and the exact commands I executed.

I did specify a token when calling codecov.exe via the -t parameter but did not include it in my post as I think its supposed to be private info.

Please let me know if you don't get the e-mail.    Thanks!

[2017-08-01 04:24] larzw opened #22 "Git service fails if project located at path with spaces"
If the repoRoot contains spaces in the file path, then running a git command fails.

[2017-08-07 17:00] #22 closed, assigned to nobody

[2017-08-07 17:05] larzw commented on #20
@KentonPickard, this is fixed now. I should get a release out in the next few days. If you are having anymore issues with this uploader let me know! If you are having any issues with getting the report to process on codecov's infrastructure (since it's such a large file) I would recommend contacting the codecov team.

[2017-08-07 17:05] #20 closed, assigned to larzw

[2017-08-07 20:37] #19 closed, assigned to larzw

[2017-08-10 13:33] larzw opened #26 "Version 1.0.2 is freezing on appveyor"
@Baune8D reported this issue... Is your repository public so I can see the build? Personally, I"m using version 1.0.2 and did not have any issues...[see](https://ci.appveyor.com/project/larzw/cake-paket/branch/master). Do you have spaces in your project root path by any chance? Any other information so I can re-create the issue would be great.

Thanks!

[2017-08-10 13:37] Baune8D commented on #26
I am afraid not. Its a private work repo.

I run it through Cake with the following packages.config
\<package id="Cake" version="0.21.1" />
\<package id="xunit.runner.console" version="2.2.0" />
\<package id="OpenCover" version="4.6.519" />
\<package id="Codecov" version="1.0.2" />

The code in build.cake:
if (AppVeyor.IsRunningOnAppVeyor)
{
    Codecov("coverage.xml", EnvironmentVariable("CODECOV

[2017-08-10 13:40] larzw commented on #26
Thanks @Baune8D! If you could reproduce it in a test repository that would be great!

[2017-08-11 04:19] Methuselah96 commented on #26
I am also getting the same problem. I will try to replicate when I have time.

[2017-08-11 04:32] Methuselah96 commented on #26
AppVeyor build: https://ci.appveyor.com/project/Paragon/unitclasslibrary/build/1.0.101
GitHub repo: https://github.com/ParagonTruss/UnitClassLibrary/tree/code-coverage-tests

[2017-08-11 11:54] larzw commented on #26
@Methuselah96
Thanks for recreating this issue! I'll take a peek and try and get a fix out.

[2017-08-11 20:22] larzw commented on #26
@Baune8D and @Methuselah96 this is fixed now in version 1.0.3. Let me know if you have anymore issues!

Thanks!

[2017-08-11 20:22] #26 closed, assigned to larzw

[2017-08-18 19:51] leonard-thieu opened #28 "[Fatal] Illegal characters in path."
I get the following error when building on AppVeyor:

[code]

Full build log: https://ci.appveyor.com/project/leonard-thieu/toofz-necrodancer-leaderboards/build/3.0.8.46

I'm not sure I understand why this is happening. I have another project set up fairly similarly without an issues.

- [appveyor.yml](https://github.com/leonard-thieu/toofz-necrodancer-leaderboards/blob/1f8ce722f17a4889295d29ce974

[2017-08-18 22:05] larzw commented on #28
Thanks @leonard-thieu for reporting this...I'll take a peek... As a quick fix you may want to try a project root path `C:\projects\toofz-necrodancer-leaderboards` that does not have any special characters like dash...that MAY fix the error.

[2017-08-18 22:06] larzw commented on #28
and maybe try upgrading to a new codecov-exe version? That may work too

[2017-08-19 14:04] leonard-thieu commented on #28
I didn't try a project root without a dash, however, I've had it work in a different project that has a dash.

[code]

---

I've also tried with the latest version but still get the same error.

[code]

[2017-08-19 14:21] larzw commented on #28
@leonard-thieu,

Thanks for trying it out! I'll try to get around to looking at it on Sunday.

[2017-09-11 05:43] matkoch opened #29 "Package content?"
The NuGet package has around 20MB and to me it seems it contains a lot of unnecessary files. Or is there any reason why you're shipping `mscorlib.dll` and stuff like that?!

[2017-09-11 22:34] larzw commented on #29
Hi @matkoch,

Thanks for the feedback! I compiled the .net core app as a [self contained app](https://www.hanselman.com/blog/SelfcontainedNETCoreApplications.aspx) and released the output of that process on NuGet. I'm open to other options/ideas if you have any?

Thanks
-Larz

[2017-09-12 04:57] matkoch commented on #29
Hi @larzw,

well yes, it could be done like that. But like Scott writes:

I think that this only makes sense in specific circumstances. Like when you're expecting that the runtime is not available. But for Codecov, I guess all machines will have the runtime. Moreover, none of the report generating applications ships with the runtime.

[2017-09-19 16:30] matkoch commented on #29
@larzw ?

[2017-09-19 20:13] leonard-thieu commented on #28
I can workaround the issue by adding an empty `codecov.yaml` file to the project root. However, that introduces another error:

[code]

[2017-09-20 01:26] larzw commented on #28
@leonard-thieu,

Thanks, sorry I have not gotten a change to look at it yet. I'll try and get around to it soon.

[2017-09-20 01:36] larzw commented on #29
@matkoch
oops sorry meant to comment not close...

My goal it to have as few dependencies as possible...Consider for example the case of someone wanting to upload javascript coverage reports on windows 7? They may not have .net core and so I need to deploy a self contained app. If I make the assumption the user has .net net core then I'm taking on an additional dependency. Maybe we should deploy m

[2017-09-20 11:47] matkoch commented on #29
Well, I think it's not too much to ask, to have .NET Core installed on a .NET developer machine. For people working only with JS, there exist alternatives, like [codecov-node](https://github.com/codecov/codecov-node). One other alternative, is to compile for netfx and netcore, and package both of them together. Still much smaller in size.

[2017-09-21 00:25] larzw commented on #29
@matkoch,

Again, this is a `generic` global uploader. Even though it's written in C# does not mean only .NET developer would/should use it. The goal is that anyone who needs to upload coverage reports to codecov on windows can use it.

Yup, I agree! That is probably a better route to go...Are you willing to do a PR for it?

Thanks!

[2017-09-21 00:30] larzw commented on #28
@leonard-thieu

Are you in a position to do a PR for this?

[2017-09-21 00:32] matkoch commented on #29
You're only uploading it to NuGet, right? So it requires nuget.exe, which requires .NET runtime. Or am I wrong? I doubt people start downloading it from nuget.org, that would be a strange thing for non-.NET developers :)

Unfortunately, I've got no time to make a PR. I'm not even affected after all. I'm going to add support for codecov in my build system project, and I just wanted to leave a note

[2017-09-21 00:35] larzw commented on #29
and [choco](https://chocolatey.org/packages/codecov) too.

[2017-09-21 00:37] matkoch commented on #29
The question that I'm asking myself is, which part of developers (non-dotnet) is going to use this package without having netfx or netcore installed. Who is the target group? There are many others listed (https://github.com/codecov/) for python, ruby, node, bash and so on, which people can use. That was my thought :)

[2017-09-21 00:40] matkoch commented on #29
As another analogy: I guess codecov-ruby also doesn't ship with the ruby runtime :)

[2017-09-21 00:43] larzw commented on #29
Yup, and my ultimate goal is to end up with ONE uploader (this one) that will run on windows, mac, and linux without dependencies like: python, ruby, or node.

thanks for the comments 😄

[2017-09-21 00:51] #29 closed, assigned to nobody

[2017-09-21 11:19] leonard-thieu commented on #28
Not really. I don't understand what's causing the issues.

[2017-09-22 19:40] larzw commented on #28
@leonard-thieu,

Unfortunately I'm not able to re-create it...Can you setup a simple repository that re-creates it..Then I can clone it and take a peek...Thanks!

[2017-09-23 00:40] leonard-thieu commented on #28
I haven't been able to reproduce it locally, only on AppVeyor. This is the repository that's affected https://github.com/leonard-thieu/toofz-leaderboards-core-data

[2017-09-23 13:14] leonard-thieu commented on #28
I think you may have cloned the wrong repo.

[2017-09-24 20:24] larzw commented on #28
@leonard-thieu,

I see the problem, in [codecov-exe](https://github.com/codecov/codecov-exe/blob/master/Source/Codecov/Services/VersionControlSystems/Git.cs#L102) I run the command:

[code]

this returns a list of files in your git repository (ignoring certain files specified in the .gitignore). This is very similar to how [codecov bash](https://github.com/codecov/codecov-bash/blob/master/codecov#

[2017-09-24 20:24] #28 closed, assigned to nobody

[2017-09-24 21:33] leonard-thieu commented on #28
I'm not sure how a BOM got into the file name but removing it does resolve the issue. Thanks for figuring this out!

[2017-11-28 17:19] horenmar opened #30 "Codecov.exe returns 400 (bad request)"
I am trying to upload cobertura xmls from AppVeyor server, using `codecov.exe` like this: `codecov -f cobertura1.xml cobertura2.xml cobertura3.xml cobertura4.xml cobertura5.xml`. No token because according my understanding of the documentation, `codecov.exe` shouldn't require token for public AppVeyor builds.

*I installed from chocolatey, version 1.0.1*

Relevant part of the logs:
[code]

[Link t

[2017-11-29 01:52] larzw commented on #30
Thanks for reporting this @horenmar

[2017-12-15 15:01] joelhess opened #31 "Jenkins CI Detection"
I'm using Codecov exe v1.0.3 with Jenkins and Github, and it doesn't seem like it picks up Jenkins as a CI Provider.

Is this accurate/expected?

[2017-12-15 16:46] larzw commented on #31
Hi @joelhess,

Jenkins is not supported. However, if git is installed on the build server, you can just specify the token manually on the command line. Let me know if you have any more questions.

[2018-01-18 14:20] kalaider opened #32 "Bad request (400) with non-standard branch name"
If the branch name starts with `#` symbol, e.g. `#8-move-docs`, `codecov.exe` returns 400. (In git bash such branch names must be quoted: `git checkout "#8-move-docs"`.)

[code]

[2018-01-18 16:06] stevepeak commented on #32
The `#` needs to be escaped. 👍

[2018-01-26 13:40] hhartz opened #33 "codecov.exe fails with 403 when uploading multiple .gcov files"
coverage data is prepared using gcov and uploaded;

[code]

In the output, the upload seems to start prematurely after it lists 410 .gcov files;

[code]

finally, While checking upload status, codecov.exe fails;

[code]

[2018-01-26 15:19] stevepeak commented on #33
Thanks for submitting! It appears that this is an issue uploading to S3. From Codecov logs I see a `200` when getting the S3 upload target url.

[2018-02-24 17:52] axunonb commented on #30
Same problem here in version 1.03.
Error throws in line 28 of Upload.cs (```Post()``` fails).
One or more errors occurred. (The remote server returned an error: (400) Bad Request.)
Url: https://codecov.io/upload/v4?branch=&commit=&build=&tag=&pr=&name=&flags=&slug=&token=TOKEN-GOES-HERE&package=exe-1.0.3&build_url=&yaml=&job=&service=

[2018-02-26 09:33] gep13 opened #35 "Any known issues with codecov.exe with new GitHub security requirements?"
I am in the process of updating GitReleaseManager to support the new GitHub Security requirements, and I noticed in the build output that I am getting this:

https://ci.appveyor.com/project/GitTools/gitreleasemanager/build/0.3.0-PullRequest.106+95.build.188#L781

I thought that it was related to the token I was using, but I have updated that, and I am not seeing any difference.

Could it be that t

[2018-03-01 13:12] larzw commented on #35
Thanks for the comment @gep13.

/cc @stevepeak would someone on your team have time too look into this for me? I'm super busy right now.

[2018-03-09 08:43] AdmiringWorm commented on #35
@gep13 from looking at the build output, it seems like a token isn't actually used.

Can you please verify that the codecov token have been set in the environment variable `CODECOV_TOKEN`?

[2018-03-09 08:47] gep13 commented on #35
@AdmiringWorm I have set an environment variable called CODECOV_REPO_TOKEN, (which was the one used by Cake.Recipe) however, in this case, it doesn't matter.  AppVeyor doesn't populate environment variables when it is building a PR, so that environment variable is not used.  It seems as though, for some reason, it gets tripped up when finding the project on CodeCov, even though I know it is there.

[2018-03-09 09:10] AdmiringWorm commented on #35
Honestly I don't know right now, from the looks of it the url used is correct when on a non-public repository when a token isn't used.

@stevepeak perhaps there are something on the server preventing the uploading (like the security requirements as @gep13 initially mentioned).

[2018-04-08 08:31] baynezy commented on #30
I am seeing this issue too ([AppVeyor Build](https://ci.appveyor.com/project/baynezy/html2markdown/build/3.2.1.348))

Any updates?

[2018-06-17 08:04] Sharparam opened #36 "Report uploads fails on certain branches and/or job IDs"
We are uploading coverage reports in our AppVeyor build (via [Cake.Codecov](https://github.com/cake-contrib/Cake.Codecov)) which works fine for the `develop` branch, but fails when it's building feature branches.

Working AppVeyor build on `develop` branch: https://ci.appveyor.com/project/Corale/colore/build/6.0.0-unstable.231.build.137

Broken AppVeyor build on `feature/upgrade-dotnet-sdk` branch

[2018-06-17 16:37] AdmiringWorm commented on #35
I believe the cause of the error have been found, it seems that codecov.io doesn't accept encoded pluss signs in the job parameter. I've fixed this locally for now, and is preparing to get a new release out as we speak.

Closing this one though, in favor of #36.

[2018-06-17 16:37] #35 closed, assigned to nobody

[2018-06-17 16:39] #32 closed, assigned to nobody

[2018-06-17 16:39] AdmiringWorm commented on #36
this will be fixed in the upcoming release of the next version

[2018-06-17 16:40] AdmiringWorm commented on #32
this will be fixed in the upcoming release of the next version

[2018-06-17 18:58] gep13 commented on #35
@AdmiringWorm that is great work! Thanks for the update!

[2018-06-24 05:01] scott-xu opened #37 "Codecov returns (404) Not Found"
https://ci.appveyor.com/project/Ninject/ninject-extensions-childkernel/build/3.3.0-ci.17+sha.c7d1687

[2018-06-25 14:44] AdmiringWorm commented on #37
Thank you for reporting this issue, I'm looking into the cause of it as we speak.

[2018-06-25 19:38] stevepeak opened #38 "Support uploading to v2 endpoint"
For enterprise customers there are cases when v4 endpoint is not available. Please add the v2 endpoint as a backup for 405 errors to v4.

Directions are here: https://github.com/codecov/codecov-bash/blob/master/codecov#L1524-L1538

Thanks!

[2018-06-26 16:11] AdmiringWorm commented on #36
@Sharparam are you able to verify that this was indeed fixed in the latest release of codecov exe? (Version 1.0.4).

[2018-06-26 17:19] Sharparam commented on #36
@AdmiringWorm Hm, it seems to be failing still: https://ci.appveyor.com/project/Corale/colore/build/138

[2018-06-26 17:28] Sharparam commented on #36
@AdmiringWorm I added URL escaping to the version number as well and that seems to make it work: https://ci.appveyor.com/project/Corale/colore/build/6.0.0-upgrade-codecov.1+234.build.139 (This build also has verbose logging turned on for Codecov)

[2018-06-26 18:28] AdmiringWorm commented on #36
hmm, I see that the build that succeeds that you linked to actually double encodes the `+` sign.

How you got that though I have no idea, do you run a custom edition of codecov-exe?

Anyways, something I have to take a closer look into.

[2018-06-26 18:33] Sharparam commented on #36
It seems to be encoding the percentage sign actually:

[code]

The string passed in by me to the Codecov tool (no custom build) is `%2B`, the tool then seems to encode the '%' to `%25`, which works for some reason. Would it then work if the '+' is encoded normally as it was earlier? As it is now, Codecov is receiving a version that has '%2B' in it, which probably won't be decoded into a '+' as exp

[2018-06-26 18:41] AdmiringWorm commented on #36
ah, that would explain it why it was encoded.
Could you share the exact string that you're passing to codecov (if possible)?
Could help me determine what is going on, it could be that normal encoding of the `+` char would work if the problem lies elsewhere in the string.

[2018-06-26 18:56] AdmiringWorm commented on #37
I think this may be related to what I tried to fix in the current release.

Still looking into how to actually get this fixed though.

[2018-06-26 19:00] AdmiringWorm commented on #30
@baynezy no real update on this issue yet, but for you it seems you were hitting a different issue: #32

[2018-06-26 21:47] Sharparam commented on #36
For the version string (placed in the `APPVEYOR_BUILD_VERSION` environment variable) I'm passing `6.0.0-upgrade-codecov.1%2B234.build.139`. The branch name is passed as `feature%2Fupgrade-codecov`.

[2018-07-01 09:04] AdmiringWorm commented on #36
@Sharparam I just made some changes to the library (not pushed to github yet), and uploaded a beta package to a personal myget repository.

Could I ask you to test out that beta package before I make any release?
Since you're using cake you could just replace the `#tool` pre-processor you use for codecov with the following:
[code]

[2018-07-01 09:06] AdmiringWorm commented on #37
@scott-xu I just made some changes to the library (not pushed to github yet), and uploaded a beta package to a personal myget repository.

Could I ask you test out these changes before I make any release?
I see you're installing it directly with nuget which means you can change it out with the following to test it out:
[code]

[2018-07-01 11:45] scott-xu commented on #37
It works.
https://ci.appveyor.com/project/Ninject/ninject-extensions-childkernel/build/3.3.0-ci.31+sha.a8ca2f8.
Thank you @AdmiringWorm

[2018-07-01 11:45] #37 closed, assigned to nobody

[2018-07-01 11:48] AdmiringWorm commented on #37
@scott-xu that's great to hear.
I'm just waiting on confirmation that it also fixes #36, then I'll get a new official release up and running on nuget.org.

I'll let you know when that happens.

[2018-07-01 12:15] AdmiringWorm commented on #36
It seems like this is actually fixed now.

I'm closing this one again, and preparing to release a new version of codecov-exe.

[2018-07-01 12:19] Sharparam commented on #36
I'm not at home yet so can't test. Should I leave it as it currently is
(escaping both branch and version string)?

On Sun, 1 Jul 2018, 14:15 Kim J. Nordmo, <notifications@github.com> wrote:

[2018-07-01 12:28] AdmiringWorm commented on #36
You could try both.
With the new release you shouldn't need to escape it manually.

I'll hold off with the release until later today.

[2018-07-01 12:43] AdmiringWorm commented on #38
Just trying to figure out what really is needed to change from the v4 url.

- Changing to v2 url (of course)
- Changing the 'Content-Type' to 'text/plain'
- Adding 'X-Content-Encoding: gzip'
- Adding 'Accept: text/plain'
- Changing from 'PUT' method to 'POST' method.
- Should only upload with v2 if v4 fails with HTTP Status 405

Is the above correct, or have I missed something?

[2018-07-01 18:56] AdmiringWorm commented on #36
I decided to release the new version now (still being indexed on nuget.org though).

Let me know if it still doesn't work.

[2018-07-01 18:57] #36 closed, assigned to nobody

[2018-07-01 18:57] AdmiringWorm commented on #37
Version 1.0.5 is released.
Still being indexed on nuget.org though.

A chocolatey package for that version have also been released, and is going through moderation now.

[2018-07-10 17:18] stevepeak commented on #38
Hey @AdmiringWorm 👋 I do believe you have it correct 👍

[2018-07-23 19:39] AdmiringWorm commented on #30
@horenmar @axunonb @baynezy
Would it be possible for you guys to test out the latest release (v 1.0.5) and let me know if this still is occurring for you?

I believe that this could possibly have been fixed in a later version.

[2018-07-23 20:12] baynezy commented on #30
@AdmiringWorm - so I [ran it again](https://ci.appveyor.com/project/baynezy/html2markdown/build/3.2.1.352). It doesn't `400` anymore, but the URL I am given back in the response `404`s.

[code]

[2018-07-23 20:46] AdmiringWorm commented on #30
~@baynezy I see the reason for why that's happening.~
~I noticed you are specifying a file with the path to `.\test\Html2Markdown.Test\coverage.xml`. However, it seems that codecov exe isn't picking up that path and instead using the project file instead.~
~Can you please verify that the path for the coverage file exist?~

~And if it does, this seems to be a new bug.~
~Can you open a new issue for

[2018-07-23 20:56] AdmiringWorm opened #39 "Warn the user when a coverage file can't be found."
When the user specifies a specific file or files and they don't exist, codecov should warn the user when this happens.

[2018-08-02 19:48] axunonb commented on #30
Still won't work here with v1.0.5
[code]

[2018-08-03 18:00] AdmiringWorm commented on #30
@axunonb I see.
I'll try figuring out what's going on sometime this weekend.

[2018-08-06 20:36] CraigWoolgar commented on #33
Hi. I had a similar problem (with pretty large XML files). I contacted Codecov support and they said adding `-X s3` to the bash script will mean that the coverage is uploaded directly to Codecov and skip S3. @AdmiringWorm Is it possible that implementing a switch for this could solve the problem?

[2018-08-11 22:10] janssenr opened #40 "Failed to upload the report"
2018-08-12 00:09:00 WRN No CI detected.
2018-08-12 00:09:01 WRN No VCS detected.
2018-08-12 00:09:01 INF Project root: D:\GitHub\RaboOmniKassaApi.Net\trunk\src
2018-08-12 00:09:01 INF Yaml not found, that's ok! Learn more at http://docs.codecov.io/docs/codecov-yaml
2018-08-12 00:09:01 INF Reading reports.
2018-08-12 00:09:01 INF coverage.xml
2018-08-12 00:09:01 INF Uploading Reports.
2018-08-12 00

[2018-08-14 06:00] janssenr opened #41 "Why is line red?"
https://codecov.io/gh/janssenr/RaboOmniKassaApi.Net/src/master/src/RaboOmniKassaApi.Tests/Models/Response/MerchantOrderResponseTest.cs
Why is line 23 marked as red?

[2018-08-23 09:52] AdmiringWorm commented on #41
@janssenr that would be because the unit test runner never reaches the actual end of the unit test.

Because you're testing an exception, the execution stops at line 21.

But more basically, that's what OpenCover reports, and codecov uses those reports.

[2018-08-23 09:57] AdmiringWorm commented on #40
From your log, I need to make sure of a few things.

Since it seems like you're running it from a local repository, and not from appveyor, you need to specify the api token when pushing reports.

It also seems like codecov isn't able to detect that you're running it from a repository.
This could be caused by several things:
1. You're not running it from a repository (of course), or it may not have

[2018-08-23 10:52] janssenr commented on #40
I downloaded the package from NuGet, and I'am running it from the commandline.
.\packages\Codecov.1.0.5\tools\codecov -f "coverage.xml" -t "<mytoken>"

So i do specify the api token!
But why is it still failing?

[2018-08-23 11:06] AdmiringWorm commented on #40
As I mentioned, codecov isn't able to detect that you're running it from within a repository, which may be caused by the one of the following:
1. You're not running it from a repository (of course), or it may not have a commit available.
2. You're not running it from the root of the repository

Unless you specify everything yourself that codecov needs, then it needs to detect the repository the co

[2018-08-23 12:09] AdmiringWorm commented on #40
I forgot to mention, you can also use the `--root` argument when calling codecov,
just make sure that the path following the argument is the path to the directory were `.git/.hg?  is located.

for instance:
`codecov --root D:\GitHub\RaboOmniKassaApi.Net --token "API-Token-Here"`

[2018-08-23 13:46] janssenr commented on #40
I use TortoiseSVN. SO I don't have a .git/.hg file.
Is that causing the problem?

[2018-08-23 13:53] AdmiringWorm commented on #40
That would indeed be the cause, only git (and I think mercurial) is supported right now.

When you use something else, you'll need to specify the metadata yourself.

I'm not 100% on which are needed, but at least the commit sha is needed which you can specify with the `--sha` argument.

I'm not familiar with TortoiseSVN, or SVN in general so I'm not sure what's available there.

I've added a wiki

[2018-09-11 17:41] AdmiringWorm commented on #41
@janssenr before I close this issue, I'll leave you with a tip on how to get around it showing the red line (other than ignoring unit testing libraries in the coverage report).

Change your unit test to be along the lines of:
[code]

See the API documents for additional overloads if you need them: https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.assert.throw

[2018-09-11 17:41] #41 closed, assigned to nobody

[2018-09-11 17:42] AdmiringWorm commented on #40
@janssenr since there hasn't been any additional response, I'll be closing this issue.

If you wish to request that SVN support being added to codecov exe, please open a new issue for that.

[2018-09-11 17:42] #40 closed, assigned to nobody

[2018-09-12 13:58] #39 closed, assigned to AdmiringWorm

[2018-09-12 19:19] StanleyGoldman opened #43 "Failure to upload report"
👋 I'm integrating codecov with for GitHub's Octokit.NET in this pull request [octokit.net#1866](https://github.com/octokit/octokit.net/pull/1866)

I'm having some trouble. Hopefully someone can point me in the right direction..

https://ci.appveyor.com/project/github-windows/octokit-net/build/0.33.0-PullRequest.1866+19.build.2876

[code]

[2018-09-17 14:44] AdmiringWorm commented on #43
@StanleyGoldman from the looks of it, this is caused by the build version being changed on appveyor. Unfortunately this isn't something we can fix here, as the changed environment variable isn't available until the next line in the `appveyor.yml` file.

However, see the [Known Issues](https://github.com/cake-contrib/Cake.Codecov#known-issues) section of `Cake.Codecov` for a workaround.

[2018-09-19 19:35] snaggled commented on #38
+1

[2018-09-25 15:02] StanleyGoldman commented on #43
Hey @AdmiringWorm thanks for getting back to me. Sorry I'm taking so long to reply.

The known issues indicates that I should be restoring `APPVEYOR_BUILD_VERSION` to a known value.
But I counter that `APPVEYOR_BUILD_VERSION` seems to be correct and matches the value in other builds where codecov.exe is working.

Is there some other environment variable I should be checking?

[2018-09-25 15:04] StanleyGoldman commented on #43
Working here: https://ci.appveyor.com/project/github-windows/octokit-graphql/build/1.0.682
[code]

Not working here: https://ci.appveyor.com/project/github-windows/octokit-net/build/0.17.2890
[code]

[2018-09-25 15:09] StanleyGoldman commented on #43
I think I may finally understand

[2018-09-25 15:41] StanleyGoldman commented on #43
Yep, the point is for the build numbers to match.
Thanks.

[2018-09-25 15:41] #43 closed, assigned to nobody

[2018-09-25 15:45] AdmiringWorm commented on #43
Exactly, if you have suggestion on improving the documentation for the example shown there, then feel free to open a PR to that repo (I know I'm not the best person to explain stuff).

I hope you're able to get it to work, but feel free to contact me on gitter (link in the Readme.md file in the repo, or ask in this or the Cake.Codecov repository).

[2018-10-01 17:52] mikebro commented on #33
I seem to be having the same issue as @CraigWoolgar. I didn't understand what was meant by `-X s3` so I looked at some of the other codecov repos like [python](https://github.com/codecov/codecov-python/compare/v2.0.14...v2.0.15#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23R719) and [node](https://github.com/codecov/codecov-node/commit/4a7561ee771f2fe856f635cb811f7d8186fd3ead#diff-6a66219cd60d8f848159130aa

[2018-10-03 14:22] mikebro commented on #33
I implemented a `--disable-s3` argument to use the v2 endpoint and that seems to have fixed my 403 issues. The changes aren't perfect but they're [here](https://github.com/codecov/codecov-exe/compare/master...mikebro:master)

[2018-10-28 09:51] janssenr commented on #40
I specified the commit sha and now it’s working!

Van: Kim J. Nordmo [mailto:notifications@github.com]
Verzonden: donderdag 23 augustus 2018 15:54
Aan: codecov/codecov-exe <codecov-exe@noreply.github.com>
CC: Rob Janssen <rob.janssen@upcmail.nl>; Author <author@noreply.github.com>
Onderwerp: Re: [codecov/codecov-exe] Failed to upload the report (#40)

That would indeed be the cause, only git (and

[2018-10-30 00:41] AdmiringWorm commented on #40
I'm glad that you made it work, as I said though. If you wish for offical SVN support being added to the codecov utility, please feel free to open a issue specifically for it.

[2018-11-01 14:21] StefH opened #44 "Add a dotnet tool for codecov exe"
Can you make a **dotnet global tool** from codecov ?

So that it can be easily used in e.g. Azure Pipelines?
Like
[code]
or
[code]

See also this list from all supported tools until now:
https://github.com/natemcmaster/dotnet-tools

[2018-11-05 17:22] AdmiringWorm commented on #44
I'm not familiar with writing dotnet tools.
But I'm guessing it would require quite the rewrite of the application to work as expected, which unfortunately I doubt I would have the time for anytime soon.
Nor am I familiar with azure pipelines for that matter.

I'm not against the idea though.

[2018-11-06 07:11] StefH commented on #44
I think it's very easy to convert codecov into a dotnet tool, only things needed are small updates in the `.csproj` file.

Example:
[code]
And then upload as NuGet. (Maybe you need another name because codecov is already there)

See this page: https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-create
Azure Pipelines was just an example.

[2018-11-09 19:47] AdmiringWorm commented on #44
That may be the only change if we were to only provide the dotnet tool, but doing that would also break pretty much every project using codecov-exe already.

I have a few ideas to test out, but unfortunately isn't really in a position to do that right now.

[2018-11-12 07:47] StefH commented on #44
An easy work-around is to wrap that extra setting in an IF condition which checks for an environment variable.

Example where this xml is only used when the **buildType** environment variable is set to "DOTNET_TOOL".

[code]

[2018-11-12 20:30] AdmiringWorm commented on #44
@StefH this is one of the paths I was considering to test out.

[2018-11-20 13:26] aelassas opened #45 "codecov.exe fails with 403"
Hi,

When I try to upload my report I get the following error:

[code]

Here is the command I am using:

[code]

Can you please help me to fix this?

Kind regards,

[2018-11-21 16:08] AdmiringWorm commented on #45
hmm, this error looks related to the SSL certificate (although I'm not entirely sure).
Basically, it seems it's unable to create a trusted SSL/TLS connection.

@stevepeak
have there been any changes to the SSL certificate on the webserver that would cause this error?
Stricter rules of the allowed SSL connection kinds perhaps?

[2019-02-04 10:35] AdmiringWorm opened #48 "Use .NET Core 2.1 WebClient instead of using PowerShell"

[2019-02-06 11:49] #44 closed, assigned to nobody

[2019-02-06 11:49] #48 closed, assigned to AdmiringWorm

[2019-02-06 12:03] ViktorHofer commented on #48
I recommend to use HttpClient instead of the old WebClient.

[2019-02-06 12:06] AdmiringWorm commented on #44
The [Codecov.Tool](https://www.nuget.org/packages/Codecov.Tool/) package was just pushed to nuget, it is still indexing so give it some time until it can be used.

Thank you @ViktorHofer for providing the project file to make this available.

[2019-02-06 12:08] AdmiringWorm commented on #48
While that would probably be better in the long run, I opted to just converting the code used for powershell to .NET Core instead.

I may think of converting it to use HttpClient at some point in the future though.

[2019-02-06 14:57] ViktorHofer commented on #44
Thanks for providing the tool! 👍

[2019-02-14 13:22] ViktorHofer commented on #45
ping @stevepeak @AdmiringWorm this is still happening. That currently hinders us to use codecov-exe.

[2019-02-14 13:27] ViktorHofer commented on #33
Could you please submit a PR to the main repo? My team is also blocked by this currently.

[2019-02-15 17:27] mikebro commented on #33
I will take a look at it next week and see what I can do, from what I remember I made some changes that work for our case but maybe not all cases.

[2019-02-17 02:56] AdmiringWorm commented on #33
@mikebro if you decide to open a PR for this, please target the `hotfix/1.2.1` branch

[2019-02-18 14:27] ViktorHofer commented on #33
I have a PR ready which is fairly big as I also noticed couple other issues in the code base. @AdmiringWorm do you have sometime this week time to quickly chat about it before I submit it? Would like to explain why I refactored much of the code. Skype/Teams/Gitter works for me.

[2019-02-18 14:46] AdmiringWorm commented on #33
Sure thing, you can reach me on gitter under the same name as here on github.

I've got some time tomorrow, or on friday to talk about the changes.

BTW, I would prefer if the refactoring, and the fixing of this issue were in two separate PR's (if possible).

[2019-02-18 15:12] ViktorHofer commented on #33
Kim the gitter channel linked on this repo doesn't work. Could you please contact me on my GH profile's mail address? Summarizing my changes via mail should be good enough. Thanks!

[2019-02-18 15:41] AdmiringWorm commented on #33
Oh right, completely forgot that the official codecov support channel had been shut down.
I've created a new channel there now for support of codecov-exe: https://gitter.im/codecov-exe/community

I've also sent you an email.

[2019-02-20 00:51] clairernovotny opened #50 "Add support for Azure Pipelines"
The tool does not currently automatically detect the build server variables from Azure Pipelines.

The variables are all documented here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml

[2019-02-20 16:10] mikebro commented on #33
@ViktorHofer Should I look at implementing the disable S3 flag before your big refactor?

[2019-02-20 16:11] ViktorHofer commented on #33
@mikebro thanks for offering but I think I should have my PR ready by tomorrow. I discussed with @AdmiringWorm the reasoning behind the big refactor and I think we are all on the same boat.

[2019-02-25 22:26] jerrode commented on #50
Thanks for bringing this up, @onovotny -- we are seeing more and more usage of Azure Pipelines.

@hootener was doing some work on his previously. Eli, any thoughts here?

[2019-02-27 00:44] hootener commented on #50
@onovotny submitted PR #51 . Awaiting review from @AdmiringWorm.

Thanks for the submission!

[2019-02-28 13:41] #50 closed, assigned to nobody

[2019-02-28 13:52] AdmiringWorm commented on #50
A new version with the support for Azure Pipelines was just pushed to nuget ~(and chocolatey)~.

Give it some time until it have been indexed.

EDIT: Now the chocolatey package was pushed as well 😄

[2019-03-14 17:02] marcomorain opened #52 "codecov.exe returns success on invalid arguments"
👋
Hi there, thanks for the codecov tool!

## Actual

I invoked the `codecov.exe` tool incorrectly on Windows:

[code]
I was using `-F` from the bash uploader, rather than `--flag`, which print the usage information, but the exit code is 0 (success)

This caused my CircleCI step to pass:

![image](https://user-images.githubusercontent.com/448001/54376287-a6ce4080-467a-11e9-9186-c7c874bf4e18.png)

E

[2019-03-19 08:26] AdmiringWorm commented on #52
Thank you for opening this issue.

This is unfortunately by design.
The only time the application is meant to return anything other than 0 as a exit code is when the argument `--required` is used.

For this case though, I'll take it under consideration and think about whether we should return something else when wrong arguments are used.

[2019-03-19 08:34] marcomorain commented on #52
Thanks Kim.

Let me tell you about how I ended up in the situation. I was working on my macOS Workstation. I wanted to add a flag to designate the platform to our codecov uploads. We are currently building a project on Linux and Windows. I added `-F Linux` to our linux job, using the bash uploaded docs for reference. Then I applied the same change to the Windows job, without checking the Windows d

[2019-03-19 09:47] AdmiringWorm opened #53 "Update accepted commandline arguments to be similiar to codecov-bash"
Currently there are some difference between codecov-exe and codecov-bash when it comes to the arguments accepted for the commandline.

The accepted arguments should be updated to be similiar for where we can.

[2019-03-19 09:47] AdmiringWorm commented on #52
I see.

Sounds like I should look into making the arguments using in this application be similiar/equal to the ones used in codecov-bash.

I've opened #53 for tracking the progress of this.

[2019-03-21 00:58] glennawatson opened #55 "azure pipeline is broken"
In the change introduced by @onovotny, for the POST url you are sending

&service=azurepipelines

This value is not supported by the codecov api and causes a 400 status code error.

As mentioned in https://docs.codecov.io/reference#upload it's not part of the listed supported pipelines.

[code]

We should probably change to `custom` until there is support for the azure pipelines?

[2019-04-05 21:33] ghost commented on #55
Do you know if there is a way to workaround this issue for now until the fix is merged?

[2019-04-05 21:44] AdmiringWorm commented on #55
@dgriffen unfortunately, there in no way to work around it.
I do plan to review the opened PR's this weekend, and get out a new release with when those are merged.

[2019-04-06 14:30] #55 closed, assigned to nobody

[2019-04-22 18:12] AdmiringWorm opened #57 "AppVeyor CI Service check should do case-insensitive comparison"
While currently the dotnet tool version of codecov can run on unix platforms, because the appveyor checks currently implemented  is doing a case-sensitive check on the necessary environment variables it does not correctly detect the linux images provided on appveyor.

[2019-04-23 08:09] AdmiringWorm opened #58 "FileSystem class should normalize path when directory separator is using a /"

[2019-05-04 13:37] derhally opened #59 "codecov yaml not located"
When running on Linux, the CodeCover.Tool cannot locate the codecov.yaml file.

This is because the Yaml class is assuming paths use the \ path separator.

[2019-05-04 15:16] AdmiringWorm commented on #59
@derhally we officially don't support linux right now, while there are plans to do that, there are several issues that prevent that support right now (path separator being only one of the issues).

[2019-05-04 15:22] derhally commented on #59
Ok.  Are you accepting PRs to support running on other platforms?

[2019-05-04 15:35] AdmiringWorm commented on #59
Yes I am, however, before I can merge them I need to update the unit tests to support other platforms. (This is currently in progress, and needs to be done before merging anything).

[2019-05-04 15:42] AdmiringWorm opened #61 "Unit tests is windows specific"
To be able to start supporting other platforms than windows, we need to update the unit tests to not be expecting Windows only paths (and other things being OS specific)

[2019-05-04 17:14] #59 closed, assigned to nobody

[2019-05-04 17:15] AdmiringWorm commented on #59
Your changes is now been merged into the branch I'm working on for converting the unit tests to support non-windows platforms.

I still have some issues that I need to resolve before I can push out a new release. (No ETA on when this will happen, unfortunately).

[2019-05-04 17:22] AdmiringWorm commented on #59
However, if you wish to test it out immediately, you can grab the nupkg for Cake.Tool on our build server: https://ci.appveyor.com/project/AdmiringWorm/codecov-exe/build/job/t75m6x2q5rgbencx/artifacts

[2019-05-04 18:23] #57 closed, assigned to nobody

[2019-05-04 19:27] #58 closed, assigned to nobody

[2019-05-04 19:29] AdmiringWorm opened #62 "SourceCode files are do not correctly ignore files on unix platform"

[2019-05-04 20:53] #61 closed, assigned to AdmiringWorm

[2019-05-04 20:53] #62 closed, assigned to AdmiringWorm

[2019-05-04 20:56] AdmiringWorm commented on #53
This have been pushed back to an eventual 2.0 release, as it is expected that this will become a breaking change.

[2019-05-05 14:23] AdmiringWorm opened #64 "Provide pre-built archives for linux and OS X platforms"

[2019-05-05 15:28] #64 closed, assigned to nobody

[2019-05-05 16:42] AdmiringWorm commented on #59
Codecov 1.5.0 is now officially released, and is available on nuget.

[2019-05-06 05:31] AdmiringWorm opened #65 "Add support for Travis CI"
Now that we finally have support for linux and os x (through Codecov.Tool and pre-compiled archives), we can start thinking about supporting non-windows ci builds.

[2019-05-06 15:23] AdmiringWorm opened #66 "Embedd resulting build output in self-contained native binary using warp"
Just came across warp, and it looks like it does what I have wanted to do for quite some time now.

Reminder for myself to look into making use of this utility to provide native binaries for supported platforms.

https://github.com/dgiagio/warp

[2019-05-09 23:12] AdmiringWorm commented on #52
I have decided that invalid arguments should definitely return a non-zero exit code. I plan to have this change available whenever version 1.6.0 is released.

[2019-05-09 23:38] AdmiringWorm opened #67 "Include linux and Mac OSX binaries in Codecov package along with Windows binaries"

[2019-05-11 17:19] marcomorain commented on #52
Thanks Kim 👍

[2019-05-26 10:20] hanabi1224 opened #68 "Support glob expression for file paths"
It will be very helpful to add glob pattern support to -f parameter

[2019-06-08 11:13] AdmiringWorm commented on #68
not a bad idea, and definitely something I would like to have.
I have added some comments on your PR on some things that need to be changed.

[2019-06-09 09:43] hanabi1224 commented on #68
@AdmiringWorm I have resolved your comments and updated my PR, please let me know if there're still any outstanding issues, thx!

[2019-06-11 16:15] AdmiringWorm commented on #52
This have now been implemented and will be part of the `1.6.0` release.

When the next release hits, invalid arguments will cause codecov to exit with the exit code of `160` (this seemed to be the most appropriate exit code when I did some research).

[2019-06-11 16:16] #52 closed, assigned to nobody

[2019-06-12 22:48] AdmiringWorm opened #70 "Change from using Webclient to using HttpClient"

[2019-06-14 23:01] AdmiringWorm commented on #38
This have now finally been implemented in the codebase, and will be part of the next release (1.6.0).

It will try the v2 url when the v4 url fails, no matter the response code returned when trying to use the v4 url. (A major restructuring would be needed to be able to implement the fallback only if server returns status code 405).

[2019-06-22 20:34] jnm2 opened #71 "--file cannot handle paths with spaces"
Using 1.5.0

[code]

[code]

It should respect quotes by using the string[] args that dotnet passes to Program.Main.

With this hypothetical call:

[code]

Program.Main will receive this as args:
[code]

Given such arguments, the files collection should contain `artifacts\Test results\a.xml` and `artifacts\Test results\b.xml`, not `artifacts\Test`, `results\a.xml`, `artifacts\Test`, `results\b.xml

[2019-06-22 21:05] jnm2 commented on #71
Workaround:

[code]

[2019-06-22 21:13] AdmiringWorm commented on #71
Unfortunately this is a limitation of the command parsing library being used, and how it has been set up.
CommandLineParser
While I am not 100% sure, I do believe the following needs to be used to get around it:

[code]
(Notice the single quotes used after and before the double quote).

Passing multiple file paths this way is not supported unfortunately, all paths are expected to be within a singe

[2019-06-22 21:19] jnm2 commented on #71
Thanks.

`--file "'$testResultsDir\coverage.$tfm.xml'"` has the same result as without the single quotes.

[2019-06-22 21:24] AdmiringWorm commented on #71
I was almost afraid of that.
Most likely in is the result of the separator used on the argument attribute (https://github.com/codecov/codecov-exe/blob/master/Source/Codecov/Program/CommandLineOptions.cs#L74).

I will investigate and see if this is something we are able to handle with the current library used, and without a breaking change.

[2019-06-25 19:39] AdmiringWorm commented on #71
Unfortunately I have not been able to figure out how to fix this in a non-breaking way, as such I am afraid that this will not be fixed until the next major version have been released (which I have not yet started working on).

I will add a new section to the readme for Known Issues with a reference to this issue.

[2019-06-25 20:42] jnm2 commented on #71
Thanks for looking and for the tool! I appreciate both.

[2019-06-25 21:08] AdmiringWorm commented on #71
Not a problem.

You should actually thank @larzw for the tool. While I am the one maintaining the tool now, he was the one that created it and most of the codebase is his work.

[2019-06-25 21:56] jnm2 commented on #71
Thanks @larzw! 😊

Semi-related, have you seen https://github.com/dotnet/command-line-api/wiki/DragonFruit-overview?

[2019-06-26 09:04] AdmiringWorm commented on #71
No I had not, but I will make a note of it before deciding which parser to change to.

I was actually thinking of changing to [Spectre.Cli](https://github.com/spectresystems/spectre.cli), which have most of the features I want (and some others in the planning stage).

[2019-06-27 22:32] roozbehid-ic opened #72 "(400) bad request from EC2"
I have a server in EC2 and this is what I get

`

              _____          _
             / ____|        | |
            | |     ___   __| | ___  ___ _____   __
            | |    / _ \ / _  |/ _ \/ __/ _ \ \ / /
            | |___| (_) | (_| |  __/ (_| (_) \ V /
             \_____\___/ \____|\___|\___\___/ \_/
                                         exe-1.5.0

2019-06-27 16:30:07 WRN No CI

[2019-07-05 16:37] brondavies opened #74 "TeamCity build - Failed to upload the report"
The command I am using is `codecov -f "C:\TeamCity\buildAgent\work\de2c4e6ef697cb99\test_coverage.xml" -t %CodeCovToken%`
[code]

[2019-07-12 10:50] FantasticFiasco opened #75 "Prevent download progress output?"
Is it possible to prevent displaying the download progress? A majority of my build log looks like this.

[code]

[2019-07-14 19:58] Sharparam opened #76 "404 Not Found when external PR built on AppVeyor due to incorrect documentation"
AppVeyor build here: https://ci.appveyor.com/project/chroma-sdk/colore/builds/25970637

Example of working (internal) build with the same config here: https://ci.appveyor.com/project/chroma-sdk/colore/builds/25970154

When building PRs that aren't made within the same repo, the Codecov step on AppVeyor fails with a 404 Not Found error.

The PR in question: chroma-sdk/Colore#267

Relevant error out

[2019-07-15 06:09] AdmiringWorm commented on #72
I am sorry, but there is not enough information for me to go on here.

Assuming you have only edited out the commit and the token from the urls (and those are valid), you also are missing the branch name as well.

Running codecov-exe is not fully supported automatically when there isn't a supported CI deteced, because of this you need to specify all necessary information through command line param

[2019-07-15 06:12] AdmiringWorm commented on #74
Hav you set up TeamCity with the information described in the README.md?
https://github.com/codecov/codecov-exe#teamcity

From the url that codecov-exe tries to ping, at least the branch name is invalid and may be the cause of the failure.

[2019-07-15 06:15] AdmiringWorm commented on #75
You will need to look up the documentation of the package manager you are using to download codecov-exe. (chocolatey, nuget, dotnet cli).

We don't output any downloading in the program itself.

If you are using chocolatey, you can use the `--no-progress` argument. I do not know with the others.

[2019-07-15 06:15] #75 closed, assigned to nobody

[2019-07-15 06:18] AdmiringWorm commented on #76
I see that it uses an invalid branch name for the url, and I noticed you are setting the branch name yourself in the cake build script here: https://github.com/chroma-sdk/Colore/blob/develop/build.cake#L358 (which ends up being `pull/267/merge` on the PR, this needs to be the base branch getting merged into).

I believe this is the cause of the failure. Btw, you should not need to set the branch n

[2019-07-15 06:21] Sharparam commented on #76
Ah, thanks. I'll test without an explicit branch set and see if it resolves
it.

On Mon, 15 Jul 2019, 08:18 Kim J. Nordmo, <notifications@github.com> wrote:

[2019-07-15 06:25] AdmiringWorm commented on #76
:+1:

Please do keep me posted, the problem could be elsewhere, but that is the only thing I could see that could cause the problem.

[2019-07-15 06:31] AdmiringWorm commented on #72
Also, make sure that the commit exists in the remote repository that you run codecov on. Otherwise, the server can't set the status for the commit (assumption).
That could also be the cause of the 400 bad request error.

[2019-07-15 10:47] #67 closed, assigned to nobody

[2019-07-15 10:47] #66 closed, assigned to nobody

[2019-07-15 11:05] #38 closed, assigned to nobody

[2019-07-15 11:05] #65 closed, assigned to nobody

[2019-07-15 11:05] #70 closed, assigned to nobody

[2019-07-15 11:07] #68 closed, assigned to nobody

[2019-07-15 11:38] AdmiringWorm commented on #30
A new release of codecov-exe was released just now that I believe fixes this issue. (currently indexing of nuget).

If anyone are able to test out the new changes when nuget is done indexing (Version 1.6.0), I would appreciate it.

[2019-07-15 11:39] AdmiringWorm commented on #45
A new release of codecov-exe was released just now which possibly fixes this issue. (currently indexing of nuget).

If anyone are able to test out the new changes when nuget is done indexing (Version 1.6.0), I would appreciate it.

[2019-07-15 11:40] AdmiringWorm commented on #33
A new release of codecov-exe was released just now that I believe fixes this issue as it falls back to uploading to a v2 url (instead of the normal v4 url).

If anyone are able to test out the new changes when nuget is done indexing (Version 1.6.0), I would appreciate it.

[2019-07-15 11:41] AdmiringWorm commented on #72
It is also possible that you are hitting upon a different issue that relates to not falling back to the previous v2 upload url.

This is now supported in the latest version (1.6.0) which I just submitted.

[2019-07-15 12:07] aelassas commented on #45
I tried to test but I got the following error message;

[code]

[2019-07-15 12:29] AdmiringWorm commented on #45
@aelassas I made some changed to the package, so it could be I changed the path (without meaning to).

What is the full path to the executable that you tried to launch (sounds like you tried to launch the executable for the wrong platform)

[2019-07-15 12:30] AdmiringWorm commented on #45
oh wait, I think I have made a mistake when creating the executable (perhaps).

I will investigate and get back to you

[2019-07-15 12:33] aelassas commented on #45
I tried to launch the executable on windows 10.

[2019-07-15 12:35] AdmiringWorm commented on #45
nope, tested the nuget package and it should work.

Which package did you try it with?
Nuget, chocolatey or the .NET Core CLI one?

Directly? how this you try launching it?
What paths (or was it double clicking), what arguments.
A path with or without the `.exe`?
Just trying to narrow it down.

[2019-07-15 14:15] brondavies commented on #74
I have set up the environment variables as outlined.  I will look into what might be wrong with the branch name but I know it's able to upload from my development machine.

[2019-07-16 03:56] AdmiringWorm opened #77 "Running on Unix returns a permission denied error"
Due to a bug in the warp utility that is being used by the codecov-exe program, the unix variants of the program haven't been ran chmod on when creating the files through Windows.

This then results in a permission denied error, unless the user runs chmod manually on the respective unix binary.

This is not supposed to be needed, changing to publishing through Linux on appveyor should resolve this

[2019-07-16 04:03] #77 closed, assigned to AdmiringWorm

[2019-07-16 04:18] AdmiringWorm commented on #45
@aelassas

I don't suppose you are using `Cake.Codecov`?
If so, it hasn't yet been updated to pick the correct paths for the nuget package, so it incorrectly picks up the unix variant instead of the windows one.
I hope to get that updated today.

[2019-07-16 04:30] aelassas commented on #45
No, I'm not using Cake.Codecov. I'm using codecov.exe from the nuget package.

[2019-07-16 05:10] AdmiringWorm opened #78 "Improve logging by including response content when an error happens"

[2019-07-17 08:20] aelassas commented on #45
@AdmiringWorm The version 1.6.1 resolves this issue.
Thanks.

[2019-07-17 12:32] AdmiringWorm commented on #45
That is great to hear.
I guess changing from WebClient to HttpClient helped. 😃

[2019-07-17 12:32] #45 closed, assigned to nobody

[2019-07-18 17:09] brondavies commented on #74
I had not uploaded the base branch coverage report - after doing that it was able to upload per branch/PR reports.

[2019-07-18 17:09] #74 closed, assigned to nobody

[2019-07-18 17:11] brondavies commented on #30
This could have also been what fixed my issue #74

[2019-07-22 07:25] aelassas opened #79 "Slug generation is incorrect when using username and password in url."
Hi,

When I try to upload my report I get the following error:

[code]

Can you please helpe me so I can upload my reports to codecov.io?

Kind regrads,
Akram.

[2019-07-22 09:26] AdmiringWorm commented on #79
How are you calling codecov-exe? What arguments to you set?
Are you running on a CI server? If so, which one?
Is it a git repository? Is the commit you are running on available in the remote repository?
What is the version of codecov-exe that you are running?

[2019-07-22 11:00] aelassas commented on #79
@AdmiringWorm

I'm using codecov.exe on windows 10 from cmd. Here is my command:

[code]

[2019-07-22 12:50] AdmiringWorm commented on #79
@aelassas and do the commit you are running on exist in a remote git repository?
and what is the version of codecov installed? (the latest right now it 1.6.1).

If the commit do exist in the remote repository, then I would need to get together a new build with some additional logging enabled to get the response body from the server (sometimes it contains clues to why it returns a bad request messa

[2019-07-22 13:23] aelassas commented on #79
@AdmiringWorm Yes the commit I am running do exist in the remote git repository.

I'm using codecov.exe 1.6.1 (the latest) for Windows. I downloaded it from nuget.org.

[2019-07-23 15:42] AdmiringWorm opened #80 "Add `--debug` switch to enable extra debug information logging"

[2019-07-23 17:11] AdmiringWorm commented on #79
@aelassas I have created an edition with logging of the returned value from the server being outputted (only if the returned type is plain text).

Would you mind testing it out to see what gets reported by the server?
The available artifacts for download is located here: https://ci.appveyor.com/project/AdmiringWorm/codecov-exe/build/job/e5rpyp2p3qwbkc0p/artifacts

[2019-07-27 10:59] aelassas commented on #79
@AdmiringWorm I have tested the version 1.7.0 with extra logging but the problem remains. Here is the output:
[code]
I am using codecov-windows-x64.exe from a command line in Windows 10 x64.

And below is the command I am using:
[code]
And I also tested the following command:
[code]

[2019-07-27 11:21] AdmiringWorm commented on #79
hmm, looks like there is a problem with the generation of the slug (so this fails the validation upstream).

Try specifying it manually with the `--slug` argument (format of the slug should be `repositoryOwner/repositorName`), you can also set the `CODECOV_SLUG` environment variable if you prefer it that way.

[2019-07-27 11:27] AdmiringWorm commented on #79
Just trying to figure out why it gets the wrong url.
Would you mind showing the output of the following commond (assuming it isn't for a private repository): `git config --get remote.origin.url`.

That command is what we are using to generate the slug.

[2019-07-27 11:29] AdmiringWorm commented on #79
I am almost certain that you maybe have a trailing slash on the outputted url, or it contains a slash right after a second one. But want to make sure that is the problem before figuring out a fix.

[2019-07-27 11:49] aelassas commented on #79
With --slug aelassas/Wexflow option, it works fine.

Here is the result of the command **git config --get remote.origin.url**:
[code]

[2019-07-27 12:23] AdmiringWorm commented on #79
Thank you, I have figured out why it is failing now.
I will get out a new release during this weekend with the extra response logging and a the fix for this issue.

[2019-07-28 09:09] #78 closed, assigned to AdmiringWorm

[2019-07-28 09:09] #79 closed, assigned to nobody

[2019-07-28 09:27] skwasjer opened #81 "Invalid build url generated for appveyor when account name is not same as repository account"
I am running into an issue where codecov links to a CI build url with incorrect slug:

For example:
https://codecov.io/gh/skwasjer/Rebus.Correlate/commit/ab9ca67ee25f9c927ba8b474c2091fda10ac6178/builds

On this page the uploaded codecov report `5crrqoxx7dlc2awa` points to the AppVeyor build URI https://ci.appveyor.com/project/skwasjer/Rebus.Correlate/build/job/5crrqoxx7dlc2awa

However the `Rebus.

[2019-07-28 09:39] AdmiringWorm commented on #79
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [NuGet package](https://www.nuget.org/packages/Codecov/1.7.0) (currently indexing)
- [DotNetCore tool](https://www.nuget.org/packages/Codecov.Tool/1.7.0) (currently indexing)
- [Chocolatey package](https://chocolatey.org/packages/codecov/1.7.0) (currently in moderation queue)
- [GitHub release](https://gith

[2019-07-28 09:46] AdmiringWorm commented on #81
Unfortunately no, that variable is for the repository itself in the format of `repositoryOwner/repositoryName`.

The actual code for detecting the appveyor build slug is done here:
https://github.com/codecov/codecov-exe/blob/master/Source/Codecov/Services/ContinuousIntegrationServers/Appveyor.cs#L40-L51

Which I also see on you build that it gets picked correctly, which is shown in the job query v

[2019-07-28 09:59] aelassas commented on #79
When I try to upload with this new version using the command:

[code]
I get the following error;

[code]

But when I try to upload using --slug:

[code]

It succeeds after an error:

[code]

[2019-07-28 10:01] skwasjer commented on #81
Gotcha. I've used the same config in two other projects, and they work fine - be it that they have a simpler project name.

Just for extra info, reason I went digging a little is because none of the reports worked, only this specific commit I did a local upload.

F.ex. the commit afterwards did not even get linked to a CI build, and jsut reports an error:

https://codecov.io/gh/skwasjer/Rebus.Corr

[2019-07-28 10:30] AdmiringWorm commented on #79
@aelassas would you mind opening a new issue for this, although it seems to be related I do believe this is something else entirely.

[2019-07-28 10:33] aelassas opened #82 "Uploader failed"
When I try to upload the report with the version 1.7.0 using the command:

[code]
I get the following error;

[code]

But when I try to upload using --slug:

[code]

It succeeds after an error:

[code]

I'm using codecov.exe version 1.7.0 on windows 10 x64 from cmd.

[2019-07-28 10:34] aelassas commented on #79
@AdmiringWorm done.

[2019-07-28 10:34] AdmiringWorm commented on #79
Thank you.

[2019-07-28 11:02] skwasjer commented on #81
So yea, forgot one tiny detail ^^

https://github.com/skwasjer/Rebus.Correlate/commit/4734a730fdaa38dff2c2b48c1f92bf8f7934f317

However, the build link still is [not working](https://codecov.io/gh/skwasjer/Rebus.Correlate/commit/4734a730fdaa38dff2c2b48c1f92bf8f7934f317/builds).

[2019-07-28 11:08] AdmiringWorm commented on #82
I have been trying to reproduce the error locally myself by cloning your repository and setting using the same arguments you mentioned and a similar remote url as you mentioned in issue #79 .

Unfortunately I am unable to reproduce the error that you're seeing, as such I am forced to put this issue on hold until a later date.

[2019-07-28 11:13] aelassas commented on #82
@AdmiringWorm  I've made Wexflow_coverage.xml available for you here: https://aelassas.github.io/wexflow/Wexflow_coverage.xml

[2019-07-28 11:18] AdmiringWorm commented on #82
I will try with that coverage, I do not believe it would make any difference though.
But better safe than sorry.

[2019-07-28 12:13] AdmiringWorm commented on #82
I am afraid that I am still unable to reproduce the issue.

I did notice that the bash edition of codecov repeats the request some times, this may be one of the reason why it do that.

For now, I recommend that you use command where you set the slug yourself.

[2019-07-28 12:15] aelassas commented on #82
@AdmiringWorm Ok, thanks.

[2019-07-28 12:47] AdmiringWorm commented on #81
I have been trying to figure out why the build url is incorrect.
Even falling back to comparing the code with the official bash uploader, is there should be no difference between them with the query parameters specified.

As such, I do believe this is an issue on the server itself, and that would mean you would need to use the official support contact information on the website to get the incorrec

[2019-07-28 15:28] skwasjer commented on #81
@AdmiringWorm thanks for the time troubleshooting, I will sent a ticket to the support address

[2019-07-28 15:29] AdmiringWorm commented on #81
Let us keep this issue open. At least until you have gotten a response from the codecov.io support team.

[2019-08-01 07:36] Sharparam commented on #76
The problem seems to persist even when letting the branch be detected automatically.

[This AppVeyor build](https://ci.appveyor.com/project/chroma-sdk/colore/builds/26368931) works correctly (non-PR build with the explicit branch setting removed).

[This AppVeyor build](https://ci.appveyor.com/project/chroma-sdk/colore/builds/26386173) still fails, even though the branch name now resolves to the s

[2019-08-01 08:34] AdmiringWorm commented on #76
@Sharparam I see now that you are not using the latest version of Codecov-exe, so the first thing I would recommend is to update the version used to `1.7.0`.

While I don't think I have fixed any bugs that will help with this, it is better to make sure.
The latest version also outputs the response message from codecov.io if the response is in plain text, which also may give us some clue of why the

[2019-08-01 08:50] Sharparam commented on #76
Thought for sure I had upgraded to 1.7.0, but evidently not. Updating that now and waiting for a rebased PR to see if it changes anything.

If the issue is the branch name encoding, then shouldn't the same issue happen on my regular `release/6.0.0` builds?

[2019-08-01 09:01] Sharparam commented on #76
Updating to 1.7.0 seems to not make it run at all: https://ci.appveyor.com/project/chroma-sdk/colore/builds/26394710

With an error: "The specified executable is not a valid application for this OS platform."

[2019-08-01 09:14] AdmiringWorm commented on #76
Oh right, I have completely forgotten to update the Cake.Codecov addin with the new paths.

Ever since version 1.6.0 the normal package also includes Linux and OSX binaries, and the (yet to be updated) version of Cake.Codecov is incorrectly picking up the linux or osx binaries before the windows binary.

You can work around that until I can get the addin updated by passing in the path to the exe y

[2019-08-01 09:29] Sharparam commented on #76
Ah, I see. [Setting the tool path made it work again](https://ci.appveyor.com/project/chroma-sdk/colore/builds/26395463) for regular builds. Remains to see what the result of PR builds is.

[2019-08-01 09:31] AdmiringWorm commented on #76
I would think so, but it could be the combination of a PR and non-encoded branch name that is the problem.

[2019-08-01 13:36] Sharparam commented on #76
[Here's the build of the PR with 1.7.0 of Codecov](https://ci.appveyor.com/project/chroma-sdk/colore/builds/26401052)

Still failing, though there seems to be a bit more output this time.

[2019-08-01 13:43] AdmiringWorm commented on #76
I see.

There is still a little while until I get home, but I will take a closer look at what is going on (I may need to fork your repository to get to the bottom of this).

The additional output is mostly due to the implementation of the fallback uploader that was implemented in v1.6.0, and the actual response from codecov.io that was implemented in v1.7.0.

Unfortunately the response isn't helpf

[2019-08-01 14:46] Sharparam commented on #76
Feel free to fork and make a PR to experiment in. Editing the build scripts in your fork should apply those changes in AppVeyor since all the configuration is stored in-repo.

[2019-08-01 18:49] AdmiringWorm commented on #76
Unfortunately some things got in the way today, so I haven't been able to look into this further, and I am about to sign off for tonight.

I believe I should have some time before work tomorrow, so I will try my best to look into it then. Otherwise I won't be able to do that until Saturday or Sunday.

[2019-08-02 06:18] AdmiringWorm commented on #76
Hmm, it unfortunately seems I was wrong. It have nothing to do with the unescaped branch name.

It did notice some difference between with one of my other projects and your project, however this seem to be the result of wrong documentation in the Cake.Codecov addin.
I have made some changes to the PR I am using to test this out to see if the change have anything to say, which it really should.

[2019-08-02 06:42] AdmiringWorm commented on #76
This did indeed turn out to be a documentation issue on the `Cake.Codecov` addin. The PR I used to test out the changes have been changed to only include the necessary changes, and you can decide if you want to merge it in or incorporate it yourself (https://github.com/chroma-sdk/Colore/pull/272).

Issue have also been opened regarding the incorrect documentation (the existing documentation only w

[2019-08-02 06:42] #76 closed, assigned to nobody

[2019-08-02 22:39] AdmiringWorm opened #83 "nuget package places Linux and OSX binaries in incorrect directory"
The intention of including the osx and linux binaries is to have them resolved with cake, not being consumed directly.

As such, this change will not be considered a breaking change, but rather a bug.

[2019-08-02 22:40] AdmiringWorm opened #84 "Branch name do not properly encode slashes"

[2019-08-02 22:44] AdmiringWorm opened #85 "Codecov nuget package incorrectly says it only supports windows"

[2019-08-02 23:02] #83 closed, assigned to nobody

[2019-08-02 23:02] #84 closed, assigned to nobody

[2019-08-02 23:02] #85 closed, assigned to nobody

[2019-08-12 11:40] AdmiringWorm commented on #81
I believe I have found a way for the build url to be fixed during upload.

While I do still believe this is an upstream issue, I will look into submitting the correct url during upload to the servers.

I just need to figure how to build said url.

[2019-08-12 12:03] AdmiringWorm commented on #81
Temporarily you can try setting the `CI_BUILD_URL` environment variable to the full url of the build. At least until I can figure out how to build the url correctly on appveyor (Trying to find a way to not rely on a hardcoded value of `https://ci.appveyor.com`).

The format for the mentioned should be similar to the following:

powershell
[code]

sh
[code]

[2019-08-15 08:04] AdmiringWorm commented on #81
Thanks to the awesome folks over at AppVeyor I now know what I can use to build the url correctly.
I will update the application with the build url and push out a new release when I get home later today.

[2019-08-15 18:29] AdmiringWorm opened #86 "invalid build url generated for travis-ci when repository slug have been overridden"

[2019-08-15 18:38] AdmiringWorm opened #87 "Travis CI service parser does not set the tag name from travis environment variables"
It still gets the tag from the git VCS service though.

[2019-08-16 06:54] #81 closed, assigned to nobody

[2019-08-16 06:54] #86 closed, assigned to nobody

[2019-08-16 06:54] #87 closed, assigned to nobody

[2019-08-16 08:08] AdmiringWorm commented on #81
Version 1.7.2 is now available on nuget (and chocolatey). This build includes the fixes so the url on codecov.io should be correct now if you submit reports with the new version.

[2019-08-21 23:37] MichaelClerx commented on #30
I'm seeing a 400 error today, after it worked fine for over a year.

https://travis-ci.org/MichaelClerx/myokit/jobs/575105338

[code]

This is coming from a public project on travis-ci, so shouldn't need a token?

[2019-08-22 15:32] AdmiringWorm commented on #30
It should yes. However you are submitting on the wrong repo it seems, from the look of the output you have captured it seems you are using the python version of codecov which is located here: https://github.com/codecov/codecov-python

[2019-09-04 05:51] PureKrome opened #88 "Documentation Request: There is a "dotnet tool" and this is how to use it!"
Hi 👋

I just stumbled on the fact that Codecov has a `dotnet tool` ! this is _awesome_ because we should be able to use Codecov on linux CI images! Even if someone is using a windows image this would be awesome, still.

So could the README.md please get an update so we don't need to use Chocolatey now?

![](https://media.giphy.com/media/fmkp70c7IIb9C/giphy.gif)

[2019-10-15 12:59] mikebro commented on #33
@AdmiringWorm I tested and it does fall back to v2 after v4 fails now, I tested with v1.7.2

[2019-10-16 03:42] CraigWoolgar commented on #33
@AdmiringWorm Using v1.7.2 I'm still getting a 403, and it's not reverting to the v2 endpoint. The CoverageReport.xml file is in the region of 30MB, so a bit on the chunky side.

[code]

[2019-10-23 10:15] AdmiringWorm commented on #33
@CraigWoolgar looking at the url codecov-exe submits to, I see that you are actually running version `1.0.1` of codecov-exe.

The above part should actually be

for the latest version.

Make sure that you don't have an older version of codecov-exe available on path that gets picked up instead of version 1.7.2

[2019-10-31 02:43] #33 closed, assigned to nobody

[2019-10-31 02:45] AdmiringWorm commented on #30
Closing as it is believed to have been fixed in an earlier version.

[2019-10-31 02:45] #30 closed, assigned to nobody

[2019-10-31 02:45] AdmiringWorm commented on #72
Closing as it is believed to have been fixed in an earlier version.

[2019-10-31 02:45] #72 closed, assigned to nobody

[2019-10-31 03:17] AdmiringWorm commented on #88
@PureKrome I have made some small changes to the Readme documentation here: https://github.com/codecov/codecov-exe/blob/better-tool-docs/README.md (Won't be available by default until the next version of codecov-exe is released).

I am terrible when it comes to documentation, so if you would be willing to have a look I would appreciate it.

[2019-10-31 04:37] AdmiringWorm opened #90 "Add support for github actions"
Now that github actions is available publically, it is time to add support for it in codecov-exe (or at least partial support with fallback to git).

[2019-10-31 04:39] AdmiringWorm opened #91 "Azure pipeline service detector uses incorrect service name"
When the detector was initially provided, Codecov.io did not support the azure pipeline service. This have changed, and the service name should be changed from `custom` to `azure_pipelines`.

[2019-10-31 05:06] PureKrome commented on #88
Woot - had a full read and that helps.

As a side note: I would promote the `dotnet tool` solution as the proper way because then it's a _consistent_ experience across platforms (x-plat) and offer the `choco` way as an option "obsolete" way for existing window OS's users.

[2019-10-31 05:27] AdmiringWorm commented on #88
The `choco` way is still the recommended way to install `codecov-exe`, especially if doing only windows builds.

For cross-platform builds it is actually recommended to use the [`Codecov` nuget package](https://www.nuget.org/packages/Codecov), the .net core tool is added more for convenience than anything else and for those not able to use any of the other packages.

All of the available packages

[2019-10-31 05:51] #31 closed, assigned to nobody

[2019-10-31 05:51] #88 closed, assigned to nobody

[2019-10-31 05:51] #90 closed, assigned to AdmiringWorm

[2019-10-31 05:51] #91 closed, assigned to AdmiringWorm

[2019-11-14 17:38] sharwell opened #93 "Azure pipelines no longer needs a token"
The **master** branch documentation says that the Azure Pipelines uploads require the Codecov token be specified. Starting with #92, this is no longer the case.

📝 I was not able to update the documentation with #92, because the changes were made in **master** and not present in **develop**.

[2019-11-14 19:09] AdmiringWorm commented on #93
It can still be updated in the develop branch (and honestly should).

This branch gets merged into master when a new release is being prepared (I noticed some unit tests was failing on github action, so need to look into that before preparing a new release though).

[2019-11-14 21:40] #93 closed, assigned to nobody

[2019-11-15 00:17] nuhkoca opened #94 "HTTP 400 Invalid signature"
Hi all,

I am not sure if this is the right place for this. In any convenience, please let me know.

I am uploading my report via `CircleCI` and it generally finishes successfully. However, my reports are not uploaded on my repository under [codecov.io](https://codecov.io/gh)

**CircleCI config**

[code]

**CircleCI response**

[code]

However, webhook throws below error:

[code]

**Deliver reques

[2019-11-15 02:44] AdmiringWorm commented on #94
From the look of it, you are not using the C# version of the client (which this repo is maintaining).

It looks like the bash edition, in which case it would be better to ask the people maintaining that one: https://github.com/codecov/codecov-bash

[2019-11-15 02:44] #94 closed, assigned to nobody

[2019-11-15 16:04] nuhkoca commented on #94
Thanks @AdmiringWorm , sorry for the inconvenience again.

[2019-11-21 07:42] AraHaan commented on #82
@AdmiringWorm uh question so I use codecov-exe 1.4.0 and I just started using it in github actions; is there a build yet that detects github actions now or no?

[2019-11-21 07:44] AdmiringWorm commented on #82
@AraHaan yes there is, the `1.8.0`version added support for github actions.

Do note though that you will still need to pass in the codecov token for it to actually be able to push the coverage reports to codecov.io.

EDIT: All release notes are available on the [releases page](https://github.com/codecov/codecov-exe/releases) where I will always add when support for a new CI is available.

[2019-11-21 08:06] AraHaan commented on #82
alright thanks; but don't we need to like encrypt the token?

[2019-11-21 10:49] AdmiringWorm commented on #82
@AraHaan of course you would need to do that, which can be done under the Repository Settings -> Secrets section

![image](https://user-images.githubusercontent.com/1474648/69331181-9f712500-0c54-11ea-8012-1143f54bd0b9.png)

Use the name `CODECOV_TOKEN` as the environment variable name, and you don't even need to pass anything to codecov-exe yourself.

The drawback is obviously that this won't wor

[2019-11-21 14:15] AraHaan commented on #82
Alright thanks; got it working now.

[2019-12-17 18:41] lkurzyniec opened #95 "Support .NET Core 3.x for Codecov.Tool"
I've just moved my app to `.NET Core 3.1` (which is LTS). I switched my CI from `dotnet 2.2` to `dotnet 3.1` and received such error:
[code]

Full details here: https://travis-ci.com/lkurzyniec/netcore-boilerplate/jobs/268203227

[2019-12-19 02:38] AdmiringWorm commented on #95
Thank you for opening this issue.

I have added support for 3.x in the repository source, however I do not expect to make a new release anytime soon.
In the meantime you can grab the latest pre-release with this change from the appveyor server with the following command:
[code]

[2019-12-19 08:00] lkurzyniec commented on #95
Got it. Thx!

[2019-12-21 06:46] jetersen commented on #95
@AdmiringWorm you say you don't plan to release anytime soon?
Any timeframe?

The changes so far seems very minor: https://github.com/codecov/codecov-exe/compare/develop to add support for dotnet 3.x

[2019-12-21 17:55] AdmiringWorm commented on #95
@casz no, I do not have any timeframe.
The only thing I can say for sure is that it won't be until at least after new year.

[2020-01-20 16:39] brondavies opened #96 "Uploading multiple result xml files does not show in codecov.io"
Using this script
https://github.com/bvcms/bvcms/blob/0e5d8ddbe316dc724283baabec620a1284ed7e6e/test.cmd

This build is created
https://codecov.io/gh/bvcms/bvcms/commit/0e5d8ddbe316dc724283baabec620a1284ed7e6e/builds

The relevant lines in the script are
`%codecov% -f "%test_coverage%" --root %root% --pr %PR% --name "UnitTests" --flag unittests -t "%CodeCovToken%"`
and
`%codecov% -f "%test_coverage

[2020-01-20 18:26] AdmiringWorm commented on #96
@brondavies have the flags been configured in the codecov settings?
Either on organization level, project level, or in a codecov.yml file?
If not, it is possible that this is the reason why you don't see different builds matching the flags specified.

I can not say for certain though, as using flags is not really something I have much experience with.

[2020-01-20 18:46] brondavies commented on #96
Thanks for the reply.  I have not configured any flags but I have also tried this without including flags too.  [According to the docs, it should just work](https://docs.codecov.io/docs/merging-reports) and merge the results of the two uploads.

[2020-01-20 18:58] AdmiringWorm commented on #96
It should usually yes, and I have managed to do this quite often (although in different parallel builds).

hmm, I took a closer look at your test script and noticed something.

On line [35](https://github.com/bvcms/bvcms/blob/0e5d8ddbe316dc724283baabec620a1284ed7e6e/test.cmd#L35) you don't choose any output file for the coverage report, but that is something you did earlier in the script.
From thi

[2020-01-20 20:24] brondavies commented on #96
@AdmiringWorm Yes, I should probably explain that one.  While the command you point to doesn't output to a file, internally the xunit tests start a single IISExpress process which is then instrumented with opencover to allow coverage of UI (integration) tests that are run using Selenium & Chrome.  So the tests run in a process that doesn't actually load any assemblies that are being tested and tha

[2020-01-20 20:30] brondavies commented on #96
And since you asked, here is the output
[code]

[2020-01-25 02:23] AdmiringWorm commented on #96
Sorry about going silent after your last comment, a few things came up that needed my attention.

Thank you for the logs, but unfortunately I do not see anything from the logs that would cause the coverage/builds to not show up.
I am kind of leaning towards this perhaps being a server problem TBH, and for that you would need to contact the codecov support team (codecov-exe is not officially suppor

[2020-01-27 19:00] brondavies commented on #96
Thanks, I've submitted my request in the codecov discourse community.

[2020-01-28 22:04] brondavies commented on #96
According to the [response to my issue here](https://community.codecov.io/t/uploading-multiple-reports-is-not-showing-on-codecov-io/940/5), my report files were too large and timing out on the upload.  This could be handled better in the client with some kind of indication that the upload failed.

[2020-01-29 00:59] AdmiringWorm opened #97 "Warn users when total upload is larger than 20 MB in size"
Official recommendation for uploaded file size is to keep them below 20-25 MB.
Uploads may fail to show on codecov.io when the size is larger than this.

Codecov.io do not return any error message on these cases, so validation of the total file sizes should be done before trying to upload.

Originally reported here: #96

[2020-01-29 01:01] AdmiringWorm commented on #96
@brondavies thank you for getting back to me on this.

I had no idea that large file sizes would have caused this problem, but it is odd that codecov.io do return a succsessfull request in these cases.
Anyway, I have opened #97 to validate the total file sizes and write out a warning when this is larger than 20 MB (may bump it to 25, not sure).

I will be closing this in the meantime. Thank you fo

[2020-01-29 01:01] #96 closed, assigned to nobody

[2020-01-29 01:02] AdmiringWorm commented on #95
This have now been assigned to the next release, which I hope to be able to create some time later this week.

[2020-02-01 10:51] #95 closed, assigned to nobody

[2020-02-01 10:51] #97 closed, assigned to nobody

[2020-02-01 11:17] AdmiringWorm commented on #95
@lkurzyniec @casz version 1.10.0 was just released now, and support for .NET Core 3.x have been added to the Codecov.Tool package.

[2020-02-01 11:37] jetersen commented on #95
Many thanks 🙇

[2020-03-05 03:26] PureKrome commented on #53
One of the important ones (for me) is the `-s` argument, which I believe is the folder to search for the files, in.

A work around (currently) could be to use powershell to 'find' all the .xml files that the code coverage tool generated (like coverlet) and then call `codecov.exe` for each result-file, found.

context: coverlet creates a random folder, which it puts the xml file into. And `codecov.

[2020-04-02 13:04] AdmiringWorm commented on #53
Codecov.exe have ever since version `1.6.0` allowed to use of globbing patterns instead of using exact file paths. Not familiar with the `-s` argument that you mentioned, but there is a way to select several files without knowing the full path to the file.

As an example: `codecov -f "artifacts/**/*.xml"`. (*Make sure to quote it so codecov expands the globbing and not the shell*)
**Above is just

[2020-04-02 13:40] PureKrome commented on #53
👋 @AdmiringWorm

[this is the exact info](https://github.com/codecov/codecov-bash/blob/master/codecov#L104) from the official codecov-bash readme.

![image](https://user-images.githubusercontent.com/899878/78255776-8140fd00-7543-11ea-899b-a3c8637e8361.png)

but having the `-f <globbing>` is _really_ helpful! Maybe throw an example into the ReadMe.md file?

🎉 Cheers for the info! really great stuff

[2020-04-02 15:15] AdmiringWorm opened #98 "Add an example of using globbing patterns with the file argument"
Ever since the version `1.6.0` we have accepted globbing patterns when specifying a file path.

This is something that should have been documented when that release was available, but unfortunately was forgotten.

reference of supported globbing patterns here: https://github.com/kthompson/glob/#supported-pattern-expressions

[2020-04-02 15:18] AdmiringWorm commented on #53
Thank you for that screenshot @PureKrome.
I think this would deserve an issue of its own, and should be able to be implemented long before this issue will be completed.

Would you mind opening an issue for that?

I have opened an issue for adding an example of using globbing pattern here: #98

[2020-04-02 22:34] PureKrome opened #99 "Add commandline argument: -s for directory search for reports"
As requested in #53 the codecov-bash script accepts a `-s` argument:

From the [codecov-bash script](https://github.com/codecov/codecov-bash/blob/master/codecov#L104):

![](https://user-images.githubusercontent.com/899878/78255776-8140fd00-7543-11ea-899b-a3c8637e8361.png)

I'm not sure how this could conflict with the existing `-f` argument if `globbing` is used in (the `-f'`) arg. Do take note of

[2020-04-07 20:20] tinovyatkin opened #100 "GitHub Actions is not detected in 1.10"
Hello,

When running on GitHub action the CI is not detected:

[code]

Also, even when detected, as per source code, it will not set build id and build URL as your bash uploader is doing for GitHub Actions.

Example of real output of GitHub Action with Exe uploader: https://github.com/tinovyatkin/is-localhost-ip/pull/94/checks?check_run_id=568776531

My action YAML:

[code]
See full file at https:

[2020-04-08 09:23] AdmiringWorm commented on #100
Thank you for opening this issue, it seems that the conditions for detecting whether we are running on a GitHub action or not have changed.

I will get that corrected. Regarding the build-id and build URL, these were not possible to be set when I initially added the support for GitHub action and deserves an issue by itself (the changelog for this repo is generated from tagged issues).

[2020-04-08 09:26] AdmiringWorm opened #101 "Add support for setting build id and build url on github actions"
Now that GitHub actions have added additional environment variables when running a build, we can now finally add support for setting the build-id and the build URL when running codecov-exe on GitHub actions.

[2020-04-08 09:51] AdmiringWorm opened #102 "Add ability to detect pull requests when running on github actions"

[2020-04-30 11:59] hootener opened #103 "Support disabling default uploader via command line"
:wave: CTO of Codecov here, and I'm opening this issue due to a request from a few of our enterprise customers using codecov-exe for uploading.

Occasionally, we encounter customers who for various reasons cannot leverage presigned PUT based uploading of coverage reports. In this case, if they're using the bash uploader, we provide two options:

1. use the `-X s3` command line argument when upload

[2020-05-17 11:00] bitranox opened #104 "can not upload via travis, Client Error 400"
[code]

[2020-05-18 11:29] hootener commented on #104
:wave: You're getting this error because Codecov recently did some fundamental storage changes on its backend in an effort to greatly improve the reliability of our underlying storage systems. I don't know enough about this repository to make changes to it and feel confident that they will work, but this issue is here:

[code]

the `X-Amz-Acl: public-read` header is no longer needed. You can see a

[2020-05-19 07:28] bitranox commented on #104
thanks, its working again.

[2020-05-19 07:28] #104 closed, assigned to nobody

[2020-05-22 10:17] AdmiringWorm commented on #103
I apologize for not having answered earlier (I thought I had).

I have looked a little into what would be necessary to implement this suggestion. Unfortunately, at the moment, it isn't possible to be implemented without some refactoring of the code (unsure at this moment how big of a refactor).

Basically

1. The configuration from the command line is never passed far enough into the code to make

[2020-05-22 10:20] AdmiringWorm commented on #104
@bitranox looking at the output that you provided, it seems that you are not using the program located in this repository.

It looks like you are using the python codecov executable which is maintained here: https://github.com/codecov/codecov-python

While this repository maintains the .NET/.NET Core edition of a codecov uploader.

I am glad it worked out for you though, just wanted to point that

[2020-05-22 14:44] hootener commented on #103
Got it. I think suggestion 1, just allowing `-X s3` would be sufficient. If you, or anyone in the community, decides to take this on, please let me know if Codecov can help.

[2020-05-30 17:44] Xwilarg opened #106 "Can't upload coverage with AppVeyor (400/599 error)"
Hi,

I'm trying to use Codecov with AppVeyor but I'm getting a Bad Request (400) and an Internal Server Error (599)
The unit tests are on .NET Core 3.1
My configuration file is the following:
[code]
And here is what AppVeyor is telling me:
[code]
If needed you can find the full log here: https://ci.appveyor.com/project/Xwilarg/boorusharp#L656
(Errors are line 658 and 662)

Thanks in advance,

[2020-06-02 19:48] TimHess commented on #106
Related? https://community.codecov.io/t/http-400-while-uploading-to-s3-with-python-codecov-from-travis/1428/8

Oh, looks like #105 fixes this

[2020-06-02 20:32] Xwilarg commented on #106
I no longer have the 599 error but I still have the 400's one

[2020-06-08 19:24] AdmiringWorm commented on #106
@Xwilarg the error code 400 is definitely will definitely be fixed by issue #105, the 599 error code could have been a temporary issue on the server (I can only assume).

I do see that you are able to upload the coverage report at least now, through the fallback uploader implemented in codecov-exe.

[2020-06-09 01:40] Xwilarg commented on #106
Thanks for your answer,
However even if the CI say that it managed to upload it I still have an error on codecov.io

For example the last AppVeyor run tells me
[code]
However if you go on https://codecov.io/github/Xwilarg/BooruSharp/commit/4e5223dc403f618b4f91b80d273ca85bf8695be0 it says there was an error processing the coverage report.

[2020-06-09 02:03] AdmiringWorm commented on #106
@Xwilarg typical reasons I have seen that that can cause such issues is an empty or invalid coverage report, and looking at your latest build, I suspect there is an empty coverage report. (codecov-exe do not validate the coverage report before uploading it).

I see you are using opencover, which doesn't fully support .NET Core and its portable debug files.
You will need to specify the old edition

[2020-06-09 13:23] Xwilarg commented on #106
I switched to coverlet and it's now working, thanks!

[2020-06-09 13:23] #106 closed, assigned to nobody

[2020-06-09 23:51] AdmiringWorm opened #108 "Github action CI detector is not added to pipeline check"
Somehow the github action detector was never added to the CI checks that we are running.

[2020-06-10 01:20] AdmiringWorm opened #109 "Support disabling default uploader via yaml configuration file"
If the user have specified `client_uploads: true` in the `codecov.yml` file, we should disable the default uploader and go straight to the fallback uploader.

This will first require an implementation of a yaml parser before we can take a look at this feature.

mentioned in issue #103

[2020-06-10 01:52] AdmiringWorm commented on #103
Disabling the `s3` uploader will be available in the upcoming version of codecov-exe.
The same arguments can be used to disable s3 in this program as in the bash uploader `-X s3` (alternatively `--feature s3` can also be used).

[2020-06-10 02:27] #100 closed, assigned to nobody

[2020-06-10 02:27] #101 closed, assigned to nobody

[2020-06-10 02:27] #102 closed, assigned to nobody

[2020-06-10 02:27] #108 closed, assigned to AdmiringWorm

[2020-06-10 02:27] #98 closed, assigned to nobody

[2020-06-10 02:27] #103 closed, assigned to AdmiringWorm

[2020-06-10 07:01] AdmiringWorm opened #110 "Symbols for Codecov.Tool and nuget Codecov package do not match"
Due to a mistake on my part, the symbols included with the Codecov.Tool and the Codecov NuGet packages do not match the binaries that are included in the package (different builds, and OS's).

[2020-06-10 07:03] AdmiringWorm opened #111 "Release Notes in codecov chocolatey package contains invalid links"
The first part of the release notes in the chocolatey codecov package includes the old release notes used in previous packages. This link is unfortunately invalid with the format in the markdown without trimming it out.

[2020-06-10 07:05] AdmiringWorm opened #112 "Chocolatey package includes invalid "Where to get it" section"

[2020-06-10 07:09] AdmiringWorm commented on #110
This is already fixed, just waiting for a push (forgot to reference the issue before pushing).

See https://github.com/codecov/codecov-exe/commit/4b036e12615af13ce5b7c942771b2b5a60d7fb3d

[2020-06-10 07:09] #110 closed, assigned to nobody

[2020-06-10 07:46] #111 closed, assigned to nobody

[2020-06-10 07:46] #112 closed, assigned to nobody

[2020-06-10 09:43] AdmiringWorm opened #113 "Don't include symbols in normal codecov nuget package"
Since we compile the program as a stand-alone program there is an error message on NuGet that it contains symbols for dll's that are included in the package.
As such we should not include symbols in that package.

EDIT: This is apparently only visible to owners of the package, so it doesn't matter much. Would still want to get rid of it as it is annoying.

[2020-06-10 11:20] AdmiringWorm commented on #71
I have been looking into this issue a little more, and it actually turns out that it isn't a limitation with the commandline parser, but rather something we had done wrong while using it instead.

I have a fix ready, but not sure if I will be pushing it today or not (as I have already pushed 2 versions today, and want to wait a little in case those introduced other issues).

[2020-06-10 23:54] AdmiringWorm opened #114 "Load CI parsers using reflection"
Load the CI parsers dynamically during runtime to prevent issues like #108 to happen in the future where a parser is forgotten to be added to the pipeline

[2020-06-21 17:13] #71 closed, assigned to AdmiringWorm

[2020-06-21 17:33] AdmiringWorm commented on #82
@aelassas I know this is an old issue now, but if you still use `codecov-exe` can you test if you are still seeing this error when using the latest version (`1.11.2` was published a few moments ago).

[2020-06-22 02:25] PureKrome commented on #71
Woot cheers!

[2020-06-22 02:27] PureKrome commented on #99
Out of interesting @AdmiringWorm - could you please confirm what the required functionality is/does for:

- `-s`
- `-f`

[2020-06-22 09:53] AdmiringWorm commented on #99
@PureKrome I assume that you are talking about the functionality of them in `codecov-bash`. Unfortunately, I can not confirm what the functionality is there.

I can tell you what my impression of the functionality in that script though:

- `-f` in `codecov-bash` under my impression adds additional files to their internal default list of files that it will use if they exist.
- `-s` seems to be twof

[2020-06-22 10:24] PureKrome commented on #99
Thanks @AdmiringWorm !

e.g.
- `-f myreport.xml -s some\report\folder` <- `some\report\folder\myreport.xml`
- `-f myreport.xml -s some\report\*` <- `some\report\folder\myreport.xml` and  `some\report\folder2\myreport.xml`

like that?

also, do you want `-f` to do globbing also?

[2020-06-22 10:37] AdmiringWorm commented on #99
@PureKrome yes, exactly like that is what I envision (although, there is a need to quote the argument value to if the user would like the program instead of the shell to expand the globbing pattern).

Yes, `-f` should still allow for globbing, both when used alone and used together with `-s` (although this would be in conflict with `codecov-bash`).

[2020-06-22 20:29] AdmiringWorm opened #115 "Load supported VCS providers using reflection"
Similar to #114 just for VCS detection instead, while we only support 1 VCS provider at the moment (git) this would help in the future if/when we decide to implement support for other VCS providers.

[2020-06-22 23:59] AdmiringWorm opened #116 "Codecov throws AggregateException in some cases that hides the actual error"

[2020-06-23 00:08] AdmiringWorm commented on #116
Invalid issue, seems the error was in the build script.

[2020-06-23 00:08] #116 closed, assigned to nobody

[2020-06-23 00:48] AdmiringWorm opened #117 "Upload url is reported twice when running with verbose debugging"

[2020-06-23 01:37] AdmiringWorm opened #118 "Remove time and date from logging"
The standard logging outputs the current date and time which is normally not helpful and only obscures the actual output.

Additionally, there is no need to output `[Inf]` on normal outputting.

[2020-06-23 16:03] #114 closed, assigned to AdmiringWorm

[2020-06-23 16:03] #115 closed, assigned to AdmiringWorm

[2020-06-23 16:03] #118 closed, assigned to AdmiringWorm

[2020-06-23 16:13] #117 closed, assigned to AdmiringWorm

[2020-06-23 16:13] #113 closed, assigned to AdmiringWorm

[2020-06-28 19:51] altendky opened #119 "[FTL] The system cannot find the file specified. (GitHub Actions Windows Docker)"
[code]

What file is missing?  How do I fix it?  This is on GitHub Actions in Windows running a Windows Docker guest.

https://github.com/altendky/qtrio/pull/42/checks?check_run_id=816428818
[code]

[2020-06-29 15:25] AdmiringWorm commented on #119
Is `./codecov.exe -n "$Env:JOB_NAME"` exactly how `codecov-exe` is called?
If so, then what you actually are missing is a path to the files that you wish to upload.
Unlike the bash uploader, this uploader do not keep an internal list of default files to check.

use the `-f` argument for specifying which files to upload (globbing is also supported, as long as you make sure the paths are quoted with

[2020-07-10 20:15] AdmiringWorm opened #120 "Codecov package have not been packaged as a standalone executable"
Because of this, the executable that normally gets launched is unable to find the necessary DLLs that is required.

[2020-07-10 20:25] #120 closed, assigned to AdmiringWorm

[2020-07-24 23:25] AdmiringWorm commented on #82
Closing due to no response, assuming that the issue have been fixed.

[2020-07-24 23:25] #82 closed, assigned to nobody

[2020-08-17 13:25] petrsvihlik opened #121 ""Failed to upload the report" from AppVeyor"
Hi,
we've been collecting code coverage of [our project](https://github.com/Kentico/kontent-delivery-sdk-net) via codecov for some time now. We use it in combination with **AppVeyor**. Recently, we started getting the following error:

I worked around the problem by adding the repository upload token to the environment variables in AppVeyor (even though this shouldn't be required according to the

[2020-08-17 16:26] AdmiringWorm commented on #121
For `codecov-exe` you should indeed not need to use a token for Travis and AppVeyor (circleCI isn't supported yet in codecov-exe).

I will look into what could potentially be the issue with the uploading, but I think it may be something to do with the build URL being created.

There hasn't been anything AFAIK, but @hootener or @thomasrockhu may be in a better situation of telling us if that could

[2020-08-17 16:38] AdmiringWorm opened #122 "Incorrect Build Url is created when running on appveyor"
The Build Url we create when uploading coverage reports on appveyor is currently being incorrectly built.

The URL we are creating is missing the necessary Build Identifier from the URL, as thus links to nowhere.

[2020-08-17 16:57] AdmiringWorm commented on #121
@petrsvihlik would you be able to run codecov-exe with the `--verbose` argument?
This should include the response error from the server, and hopefully narrow down whether my suspicion is correct or not (without having a codecov token available of course).

[2020-08-17 17:33] #122 closed, assigned to AdmiringWorm

[2020-08-18 14:24] petrsvihlik commented on #121
@AdmiringWorm yeah, here: https://ci.appveyor.com/project/kentico/kontent-delivery-sdk-net/builds/34720112

interestingly, with the `--verbose` on it didn't cause the build to fail...but the exception is there.

[2020-08-18 14:37] AdmiringWorm commented on #121
Well, the build didn't fail because the fallback uploader was successful.
[code]

That error message is worrying though, I am not even remotely sure where to try looking for the problem even (I tried to reproduce it in a different repo, setting it up similar to yours, but was unsuccessful).

It almost looks to be something on the server-side, considering the exception message mentions it didn't ge

[2020-09-07 09:42] AdmiringWorm commented on #119
Closing due to lack of response.
Feel free to ask to re-open when/if you can provide additional information.

[2020-09-07 09:42] #119 closed, assigned to nobody

[2020-09-07 14:35] altendky commented on #119
@AdmiringWorm, my apologies for missing your response.  I think the follow-up would be that reporting an inability to find a file I didn't specify and for which there are no defaults isn't the most obvious error.  `:]`  I am using the bash uploader now and I think it is the recommended one and is working well.  Thank you for the explanation.

[2020-09-07 15:42] AdmiringWorm commented on #119
I agree entirely, and I thought we did some validation on that part.
But it seems we only validate when a file(s) is specified.

Indeed, it is the recommended one, and the only one officially supported (everything else is considered community maintained).
I prefer this community uploader, but that is only because I work on C# projects and it is supported through an addin when running cake build sc

[2020-10-05 12:09] petrsvihlik commented on #121
I keep getting exceptions every now and then...like this one:
https://ci.appveyor.com/project/kentico/kontent-delivery-sdk-net/builds/35571846

[code]

[2020-10-05 13:14] AdmiringWorm commented on #121
@petrsvihlik that is not any exception caused by codecov.
From looking at your build log this is your problem: https://ci.appveyor.com/project/kentico/kontent-delivery-sdk-net/builds/35571846#L1092

It isn't noticed until codecov have executed though, due to the way you set the exit code.

[2020-10-05 13:26] petrsvihlik commented on #121
oh, true. please disregard my last comment :)

[2020-10-16 16:53] thomasrockhu commented on #121
Closing this out as it looks resolved. Feel free to re-open if I'm wrong.

[2020-10-16 16:53] #121 closed, assigned to nobody

[2020-10-25 20:19] arahant commented on #104
Hi, I'm facing the same issue, only I'm not using the header at all
[code]

[2020-11-06 08:33] jgonzalezdr opened #146 "Execution broken with AppVeyor starting from codecov-exe v1.12.0"
With AppVeyor (at least, I don't know if with other CIs) the execution is broken, failing with the error "`codecov : [FTL] The system cannot find the file specified.`".

You can check a failing build log with [v1.12.0 here](https://ci.appveyor.com/project/jgonzalezdr/colorconsolelib/builds/36167385) and with [v1.12.3 here](https://ci.appveyor.com/project/jgonzalezdr/colorconsolelib/builds/36167048

[2020-11-10 13:25] AdmiringWorm commented on #146
hmm, could be a problem with how the VCS providers are resolved (it changed to use reflection in 1.12.0).

Could I ask you to try with the .NET Core edition of codecov-exe? (.NET Core is available on appveyor, and can be installed by running `dotnet tool install -g codecov.tool`).

My guess is that when publishing the .NET edition used in the chocolatey package, some required classes are removed s

[2020-11-10 13:43] AdmiringWorm commented on #146
ignore my previous comment.
It seems the problem is something else, and I need to look a bit deeper into why it happens.
It looks like git somehow can not be found on the system, which is incorrect (even if it was, there should not be an exception :cry:).

[2020-12-21 17:09] tyki6 commented on #104
hi @arahant ,
i have the problem than you.
For fix it upgrade codecov version:
[code]

[2020-12-21 17:18] thomasrockhu commented on #104
@arahant @mBouamama, I think these are `codecov-python` issues, if so, please use the bash uploader and see if you are still experiencing an issue.

[2020-12-28 20:21] nxtn opened #159 "Globbing pattern do not work with fully qualified paths"
The `test` command of the [Azure Pipelines .NET Core CLI task](https://docs.microsoft.com/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops) places result files in `$(Agent.TempDirectory)` so I'd like to upload my code coverage reports with `dotnet tool run codecov -- -f "$(Agent.TempDirectory)\*\coverage.cobertura.xml" --required`.

`Glob.Files` doesn't work with full paths.

[2021-01-06 05:10] #159 closed, assigned to nobody

[2021-01-21 04:29] rkapoor028 opened #166 "400 Bad Request Uploading From Azure Devops"
We are using Codecov -Version 1.12.4 Nuget Package to upload the Cobertura Format XML Coverage reports to CodeCov. The Command we are using is

[code]

We are seeing a 400 error "Unable to upload coverage report to Codecov. Server returned: (400) Bad Request" . However, we still see the report for the commit in CodeCov portal. We are not sure if its uploading the complete report or not.

[code]

A

[2021-01-21 16:20] AdmiringWorm commented on #166
@rkapoor028 it is just the first try of the uploader that failed, but from your log the fallback uploader succeeded.

If both had failed, you would not have seen the message `View reports at` at the end. You would instead have seen an error message (those errors you point to are just warnings), and potentially a stacktrace as well.

Regarding your mention of `We are not sure if its uploading the c

[2021-01-21 16:24] rkapoor028 commented on #166
Thanks for looking into this. Ok that's good to know.

Our Coverage Report is around 35MBs, what's the size limit for the Report? We are using Cobertura format, any other format which is recommended and will take less size?

[2021-01-21 16:38] AdmiringWorm commented on #166
I am not sure what the size limit actually is (I think it is maximum 45MB), the warning was added before I became a part of maintaining the program.

Personally, I use the OpenCover (XML) format instead of cobertura, but I don't think you will get any size benefit for that.
However, I don't think you need to worry about it for quite some time.
As long as you see a report on the website, everything

[2021-01-21 16:42] rkapoor028 commented on #166
Perfect! thats sounds like a good plan. We can do that if required in future.

Thanks @AdmiringWorm once again. No more questions from our side.

Will close this issue as well.

[2021-01-21 16:42] #166 closed, assigned to nobody

[2021-01-21 16:49] AdmiringWorm commented on #166
No problem. If you have any further questions in the future, please feel free to contact me on the gitter channel for this repository: https://gitter.im/codecov-exe/community

[2021-02-15 23:05] AdmiringWorm opened #170 "Running on azure fails due to question mark not being escaped in the `build_url` parameter"
[code]

[2021-02-15 23:08] AdmiringWorm commented on #170
question marks should be url encoded to `%3F` to prevent the failure to happen.

[2021-02-15 23:24] #170 closed, assigned to nobody

[2021-02-15 23:25] AdmiringWorm commented on #146
A fix for this will be available in the next version of codecov-exe (I am sorry about the delay).

[2021-02-15 23:25] #146 closed, assigned to nobody

[2021-02-16 00:30] AdmiringWorm opened #171 "Create new support for CircleCI Build Provider"

[2021-02-16 00:46] AdmiringWorm opened #172 "Add support for .NET 5.0"

[2021-02-16 01:50] #172 closed, assigned to nobody

[2021-09-09 23:16] zoeyteche opened #188 "R"

[2021-10-31 13:35] #188 closed, assigned to nobody